# CONFIG_BT is not set
# CONFIG_CRYPTO_DEFLATE is not set
# CONFIG_CRYPTO_LZO is not set
# CONFIG_CRYPTO_ZSTD is not set
# CONFIG_DEBUG_FS is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_EXT4_FS is not set
CONFIG_JFFS2_FS=y
# CONFIG_KERNEL_LZ4 is not set
CONFIG_KERNEL_XZ=y
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_ROCKCHIP_FLEXBUS is not set
# CONFIG_MTD_SPI_NAND is not set
# CONFIG_MTD_UBI is not set
# CONFIG_NTFS3_FS is not set
# CONFIG_PPP is not set
# CONFIG_PSTORE is not set
CONFIG_RD_XZ=y
# CONFIG_ROCKCHIP_DSMC is not set
# CONFIG_ROCKCHIP_DSMC_SLAVE is not set
# CONFIG_ROCKCHIP_FLEXBUS_ADC is not set
# CONFIG_ROCKCHIP_FLEXBUS_DAC is not set
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_SND_SOC_ES7202 is not set
# CONFIG_SND_SOC_ROCKCHIP_SPDIF is not set
# CONFIG_SND_SOC_ROCKCHIP_SPDIFRX is not set
# CONFIG_SPI_ROCKCHIP_FLEXBUS_FSPI is not set
CONFIG_SQUASHFS_XZ=y
# CONFIG_SQUASHFS_ZSTD is not set
# CONFIG_VFAT_FS is not set
CONFIG_XZ_DEC=y
CONFIG_DECOMPRESS_XZ=y
# CONFIG_JFFS2_COMPRESSION_OPTIONS is not set
CONFIG_JFFS2_FS_DEBUG=0
# CONFIG_JFFS2_FS_WBUF_VERIFY is not set
CONFIG_JFFS2_FS_WRITEBUFFER=y
# CONFIG_JFFS2_FS_XATTR is not set
CONFIG_JFFS2_RTIME=y
# CONFIG_JFFS2_SUMMARY is not set
CONFIG_JFFS2_ZLIB=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_MICROLZMA is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_XZ_DEC_X86 is not set
