CONFIG_CONFIGFS_FS=y
CONFIG_USB_SUPPORT=y
CONFIG_VIDEO_DW9800V=y
CONFIG_VIDEO_IMX766=y
CONFIG_VIDEO_OTP_EEPROM=y
# CONFIG_DLM is not set
# CONFIG_MOST is not set
# CONFIG_NOP_USB_XCEIV is not set
# CONFIG_NVME_TARGET is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_PHY_CPCAP_USB is not set
# CONFIG_PHY_MAPPHONE_MDM6600 is not set
# CONFIG_PHY_ROCKCHIP_NANENG_USB2 is not set
# CONFIG_TYPEC is not set
# CONFIG_USB is not set
CONFIG_USB_ARCH_HAS_HCD=y
# CONFIG_USB_AUDIO is not set
# CONFIG_USB_BDC_UDC is not set
# CONFIG_USB_CDC_COMPOSITE is not set
# CONFIG_USB_CDNS_SUPPORT is not set
# CONFIG_USB_CHIPIDEA is not set
CONFIG_USB_COMMON=y
CONFIG_USB_CONFIGFS=y
# CONFIG_USB_CONFIGFS_ACM is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_EEM is not set
CONFIG_USB_CONFIGFS_F_FS=y
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_LB_SS is not set
# CONFIG_USB_CONFIGFS_F_MIDI is not set
# CONFIG_USB_CONFIGFS_F_PRINTER is not set
CONFIG_USB_CONFIGFS_F_UAC1=y
# CONFIG_USB_CONFIGFS_F_UAC1_LEGACY is not set
# CONFIG_USB_CONFIGFS_F_UAC2 is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_OBEX is not set
# CONFIG_USB_CONFIGFS_RNDIS is not set
# CONFIG_USB_CONFIGFS_SERIAL is not set
# CONFIG_USB_CONFIGFS_UEVENT is not set
# CONFIG_USB_CONN_GPIO is not set
# CONFIG_USB_DWC2 is not set
# CONFIG_USB_DWC3 is not set
# CONFIG_USB_ETH is not set
# CONFIG_USB_FOTG210_UDC is not set
# CONFIG_USB_FUNCTIONFS is not set
# CONFIG_USB_FUSB300 is not set
CONFIG_USB_F_FS=y
CONFIG_USB_F_UAC1=y
CONFIG_USB_GADGET=y
# CONFIG_USB_GADGETFS is not set
# CONFIG_USB_GADGET_DEBUG is not set
# CONFIG_USB_GADGET_DEBUG_FILES is not set
CONFIG_USB_GADGET_STORAGE_NUM_BUFFERS=2
CONFIG_USB_GADGET_VBUS_DRAW=2
# CONFIG_USB_GADGET_XILINX is not set
# CONFIG_USB_GPIO_VBUS is not set
# CONFIG_USB_GR_UDC is not set
# CONFIG_USB_G_ACM_MS is not set
# CONFIG_USB_G_DBGP is not set
# CONFIG_USB_G_HID is not set
# CONFIG_USB_G_MULTI is not set
# CONFIG_USB_G_NCM is not set
# CONFIG_USB_G_PRINTER is not set
# CONFIG_USB_G_SERIAL is not set
# CONFIG_USB_G_WEBCAM is not set
# CONFIG_USB_ISP1301 is not set
# CONFIG_USB_ISP1760 is not set
CONFIG_USB_LIBCOMPOSITE=y
# CONFIG_USB_M66592 is not set
# CONFIG_USB_MASS_STORAGE is not set
# CONFIG_USB_MIDI_GADGET is not set
# CONFIG_USB_MUSB_HDRC is not set
# CONFIG_USB_MV_U3D is not set
# CONFIG_USB_MV_UDC is not set
# CONFIG_USB_NET2272 is not set
# CONFIG_USB_PXA27X is not set
# CONFIG_USB_R8A66597 is not set
# CONFIG_USB_RAW_GADGET is not set
# CONFIG_USB_ROLE_SWITCH is not set
# CONFIG_USB_SNP_UDC_PLAT is not set
# CONFIG_USB_ULPI is not set
# CONFIG_USB_ULPI_BUS is not set
CONFIG_USB_U_AUDIO=y
# CONFIG_USB_ZERO is not set
