CONFIG_ARM_PSCI=y
CONFIG_CRYPTO_SHA1=y
# CONFIG_FIQ_DEBUGGER_FIQ_GLUE is not set
CONFIG_FIQ_DEBUGGER_TRUST_ZONE=y
CONFIG_ROCKCHIP_SIP=y
CONFIG_TEE=y
# CONFIG_ARM_HIGHBANK_CPUIDLE is not set
# CONFIG_ARM_PSCI_CPUIDLE is not set
CONFIG_ARM_PSCI_FW=y
# CONFIG_ARM_SCMI_PROTOCOL is not set
CONFIG_ARM_SMCCC_SOC_ID=y
CONFIG_GLOB=y
# CONFIG_GLOB_SELFTEST is not set
CONFIG_HAVE_ARM_SMCCC_DISCOVERY=y
# CONFIG_HW_RANDOM_OPTEE is not set
# CONFIG_NVMEM_ROCKCHIP_SEC_OTP is not set
CONFIG_OPTEE=y
CONFIG_OPTEE_SHM_NUM_PRIV_PAGES=1
CONFIG_SOC_BUS=y
# CONFIG_VIDEO_ROCKCHIP_HDMIRX is not set
