CONFIG_CAN_MCP251XFD=y
CONFIG_GPIO_NCA9539=y
CONFIG_HZ=1000
CONFIG_HZ_1000=y
# CONFIG_HZ_250 is not set
CONFIG_INV_ICM42670_I2C=y
CONFIG_REGULATOR_ONXQ000=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SND_SOC_RK730=y
CONFIG_VIDEO_IMX586=y
CONFIG_VIDEO_MAXIM_SERDES=y
# CONFIG_CAN_MCP251XFD_SANITY is not set
CONFIG_CAN_RX_OFFLOAD=y
CONFIG_INV_ICM42670=y
# CONFIG_VIDEO_MAXIM_CAM_DUMMY is not set
# CONFIG_VIDEO_MAXIM_CAM_OS04A10 is not set
# CONFIG_VIDEO_MAXIM_CAM_OV231X is not set
# CONFIG_VIDEO_MAXIM_CAM_OX01F10 is not set
# CONFIG_VIDEO_MAXIM_CAM_OX03C10 is not set
CONFIG_VIDEO_MAXIM_CAM_OX03J10=y
# CONFIG_VIDEO_MAXIM_CAM_SC320AT is not set
# CONFIG_VIDEO_MAXIM_DES_MAXIM2C is not set
CONFIG_VIDEO_MAXIM_DES_MAXIM4C=y
# CONFIG_VIDEO_MAXIM_SER_MAX9295 is not set
# CONFIG_VIDEO_MAXIM_SER_MAX96715 is not set
CONFIG_VIDEO_MAXIM_SER_MAX96717=y
