CONFIG_PM_DEBUG=y
CONFIG_SUSPEND=y
CONFIG_FREEZER=y
# CONFIG_FSL_RCPM is not set
CONFIG_FW_CACHE=y
# CONFIG_KEXEC is not set
# CONFIG_PM_ADVANCED_DEBUG is not set
# CONFIG_PM_AUTOSLEEP is not set
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_PM_SLEEP=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_PM_SLEEP_SMP=y
# CONFIG_PM_TEST_SUSPEND is not set
# CONFIG_PM_USERSPACE_AUTOSLEEP is not set
CONFIG_PM_WAKELOCKS=y
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_PM_WAKELOCKS_LIMIT=100
# CONFIG_ROCKCHIP_LITE_ULTRA_SUSPEND is not set
# CONFIG_ROCKCHIP_SUSPEND_DEBUG is not set
CONFIG_ROCKCHIP_SUSPEND_MODE=y
CONFIG_SUSPEND_FREEZER=y
# CONFIG_SUSPEND_SKIP_SYNC is not set
