# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
# CONFIG_DRM is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY is not set
CONFIG_PREEMPT=y
# CONFIG_PREEMPT_NONE is not set
# CONFIG_ROCKCHIP_DVBM is not set
# CONFIG_ROCKCHIP_FEPHY is not set
# CONFIG_ROCKCHIP_MINI_KERNEL is not set
# CONFIG_ROCKCHIP_MPP_OSAL is not set
CONFIG_ROCKCHIP_MPP_SERVICE=y
# CONFIG_SQUASHFS_4K_DEVBLK_SIZE is not set
# CONFIG_SQUASHFS_DECOMP_MULTI is not set
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
# CONFIG_SQUASHFS_XZ is not set
# CONFIG_STMMAC_ETH is not set
# CONFIG_USB_VIDEO_CLASS is not set
# CONFIG_VIDEO_GST412C is not set
# CONFIG_VIDEO_IMX415 is not set
CONFIG_VIDEO_OV7251=y
# CONFIG_VIDEO_ROCKCHIP_AIISP is not set
# CONFIG_VIDEO_ROCKCHIP_OOC is not set
# CONFIG_VIDEO_SC200AI is not set
# CONFIG_DEBUG_PREEMPT is not set
CONFIG_LZ4_DECOMPRESS=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_PREEMPTION=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPT_RCU=y
# CONFIG_ROCKCHIP_MPP_AV1DEC is not set
# CONFIG_ROCKCHIP_MPP_IEP2 is not set
# CONFIG_ROCKCHIP_MPP_JPGDEC is not set
# CONFIG_ROCKCHIP_MPP_JPGENC is not set
CONFIG_ROCKCHIP_MPP_PROC_FS=y
# CONFIG_ROCKCHIP_MPP_RKVDEC is not set
CONFIG_ROCKCHIP_MPP_RKVDEC2=y
# CONFIG_ROCKCHIP_MPP_RKVENC is not set
CONFIG_ROCKCHIP_MPP_RKVENC2=y
# CONFIG_ROCKCHIP_MPP_VDPP is not set
# CONFIG_ROCKCHIP_MPP_VDPU1 is not set
# CONFIG_ROCKCHIP_MPP_VDPU2 is not set
# CONFIG_ROCKCHIP_MPP_VEPU1 is not set
# CONFIG_ROCKCHIP_MPP_VEPU2 is not set
CONFIG_UNINLINE_SPIN_UNLOCK=y
