# SPDX-License-Identifier: GPL-2.0
config CAN_ROCKCHIP
	tristate "Rockchip CAN controller"
	depends on ARCH_ROCKCHIP
	help
	  Say Y here if you want to use CAN controller found on Rockchip SoCs.

	  To compile this driver as a module, choose M here: the module will
	  be called rockchip_can.

config CAN_RK3568
	tristate "RK3568 CAN controller"
	depends on ARCH_ROCKCHIP
	help
	  Say Y here if you want to use CAN controller found on RK3568 SoCs.

	  To compile this driver as a module, choose M here: the module will
	  be called rk3568_can.

config CAN_RK3562
	tristate "RK3562 CAN controller"
	depends on ARCH_ROCKCHIP
	help
	Say Y here if you want to use CAN controller found on RK3562 SoCs.

	To compile this driver as a module, choose M here: the module will
	be called rk3562_can.

config CAN_RK3576
	tristate "RK3576 CAN controller"
	depends on ARCH_ROCKCHIP
	help
	Say Y here if you want to use CAN controller found on RK3576 SoCs.

	To compile this driver as a module, choose M here: the module will
	be called rk3576_can.
