config AIC_WLAN_SUPPORT
	bool "AIC wireless Support"
	default n
	help
	  This is support for aic wireless chip.

config AIC_FW_PATH
	depends on AIC_WLAN_SUPPORT
	string "Firmware & config file path"
	default "/lib/firmware/aic8800/SDIO/aic8800D80/"
	help
	  Path to the firmware & config file.

if AIC_WLAN_SUPPORT
source "drivers/net/wireless/aic8800_sdio/aic8800_fdrv/Kconfig"
source "drivers/net/wireless/aic8800_sdio/aic8800_btlpm/Kconfig"
endif
