// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 luckfox technology Limited.
 */
&video_phy0 {
    status = "okay";
};

&dsi0 {
	status = "okay";
	
	power-supply = <&vcc_sys>;

	dsi0_panel: dsi-panel@0 {
		compatible = "luckfox,tc358762";
		reg = <0x0>;
		status = "okay";
		power-supply = <&vcc_sys>;

		ports {			
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in_dsi0: endpoint {
					remote-endpoint = <&dsi0_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dsi0_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_dsi0>;
			};
		};
	};
};

&dsi0_in_vp0 {
	status = "okay";
};

&dsi0_in_vp1 {
	status = "disabled";
};

&route_dsi0 {
	status = "okay";
	connect = <&vp0_out_dsi0>;
};

// &i2c4 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c4m0_xfer>;

// 	luckfox_mcu: luckfox_mcu@45 {
// 		compatible = "luckfox_mcu";
// 		reg = <0x45>;
// 		status = "okay";
// 	};

// 	luckfox_ft5406: luckfox_ft5406@38 {
// 		compatible = "luckfox_ft5406";
// 		reg = <0x38>;
// 		status = "okay";
// 	};
// };

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m1_xfer>;

	luckfox_mcu: luckfox_mcu@45 {
		compatible = "luckfox_mcu";
		reg = <0x45>;
		status = "okay";
	};

	luckfox_ft5406: luckfox_ft5406@38 {
		compatible = "luckfox_ft5406";
		reg = <0x38>;
		status = "okay";
	};
};
