// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1_6ch_1 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	    status = "okay";
	};
};

&display_subsystem {
	status = "okay";
};

/*
 * mipi_dcphy needs to be enabled
 * when dsi is enabled
 */
&dsi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			dsi_out_i2c8_max96789: endpoint {
				remote-endpoint = <&i2c8_max96789_from_dsi>;
			};
		};
	};
};

&dsi_in_vp2 {
	status = "okay";
};

&i2c8 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8m2_xfer>;
	clock-frequency = <400000>;

	i2c8_max96789: i2c8-max96789@42 {
		compatible = "maxim,max96789";
		reg = <0x42>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c8_serdes_pins>;
		lock-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		sel-mipi;
		id-serdes-bridge-split = <0x01>;
		status = "okay";

		serdes-init-sequence = [
			//Independent 11_07_17-56 Using MAX96789/91/F (GMSL-1/2)
			//Disable Video pipe
			0002 0003
			//Set Stream for DSI Port A && assign pipeX
			0053 0010
			//Set Stream for DSI Port B && assign pipeY
			0057 0021
			//Clock Select, X for portA, Y/Z for PortB
			0308 0076
			//Start DSI-A Port
			0311 0001
			//Set Port A Lane Mapping
			0332 004E
			//Set Port B Lane Mapping
			0333 00E4
			//Set GMSL type
			0004 00F2
			//Number of Lanes
			0331 0033
			//Set phy_config
			0330 0006
			//Set soft_dtx_en
			031C 0098
			//Set soft_dtx
			0321 0024
			//Set soft_dty_en
			031D 0098
			//Set soft_dty_
			0322 0024
			//Init Default
			0326 00E4
			//HSYNC_WIDTH_L	 HSYNC=12
			0385 000C
			//VSYNC_WIDTH_L	 VSYNC=3
			0386 0003
			//HSYNC_WIDTH_H/VSYNC_WIDTH_H
			0387 0000
			//VFP_L	VFP=8
			03A5 0008
			//VBP_H
			03A7 0000
			//VBP_L/VFP_H VBP=5
			03A6 0050
			//VRES_L VRES=0X02D0=720
			03A8 00D0
			//VRES_H
			03A9 0002
			//HFP_L	 HFP=26
			03AA 001A
			//HBP_H
			03AC 0000
			//HBP_L/HFP_H(4bit)	HBP=12
			03AB 00C0
			//HRES_L HRES=0X0780=1920
			03AD 0080
			//HRES_H
			03AE 0007
			//Disable FIFO/DESKEW_EN
			03A4 00C1
			//Turn on video pipe
			0002 0033
			//Enable splitter mode  reset one shot
			0010 0021
			ffff f000	//0xf000 ms delay
		];

		i2c8_max96789_pinctrl: i2c8-max96789-pinctrl {
			compatible = "maxim,max96789-pinctrl";
			pinctrl-names = "init","sleep";
			pinctrl-0 = <&i2c8_max96789_pinctrl_pins>;
			pinctrl-1 = <&i2c8_max96789_pinctrl_pins>;
			status = "okay";
			i2c8_max96789_pinctrl_pins: pinctrl-pins {
				i2c {
					groups = "MAX96789_I2C";
					function = "MAX96789_I2C";
				};
				lcd-bl-pwm {
					pins = "MAX96789_MFP7";
					function = "SER_TXID4_TO_DES";
				};
				tp-int {
					pins = "MAX96789_MFP8";
					function = "DES_RXID8_TO_SER";
				};
			};

			i2c8_max96789_gpio: i2c8-max96789-gpio {
				compatible = "maxim,max96789-gpio";
				status = "okay";

				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&i2c8_max96789_pinctrl 0 160 20>;
			};
		};

		i2c8_max96789_bridge: i2c8-max96789-bridge {
			compatible = "maxim,max96789-bridge";
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					i2c8_max96789_from_dsi: endpoint {
						remote-endpoint = <&dsi_out_i2c8_max96789>;
					};
				};

				port@1 {
					reg = <1>;
					i2c8_max96789_out_i2c8_max96752: endpoint {
						remote-endpoint = <&i2c8_max96752_from_i2c8_max96789>;
					};
				};
			};
		};

	};

	i2c8_max96752: i2c8-max96752@4a {
		compatible = "maxim,max96752";
		reg = <0x4a>;
		//reg-hw = <0x4a>;
		id-serdes-panel-split = <0x01>;
		link = <0x01>;
		status = "okay";

		serdes-init-sequence = [
			/*max96752 dual oLDI output*/
			0002 0043
			0073 0031
			007b 0031
			007d 0038

			0050 0000
			01ce 004e
			01ea 0004
		];

		i2c8_max96752_pinctrl: i2c8-max96752-pinctrl {
			compatible = "maxim,max96752-pinctrl";
			pinctrl-names = "init","sleep";
			pinctrl-0 = <&i2c8_max96752_panel_pins>;
			pinctrl-1 = <&i2c8_max96752_panel_sleep_pins>;
			status = "okay";

			i2c8_max96752_panel_pins: panel-pins {
				lcd-rst-pin {
					pins = "MAX96752_GPIO10";
					function = "DES_TXID10_OUTPUT_HIGH";
				};
				lcd-stbyb-pin {
					pins = "MAX96752_GPIO3";
					function = "DES_TXID3_OUTPUT_HIGH";
				};
				tp-rst {
					pins = "MAX96752_GPIO5";
					function = "DES_TXID5_OUTPUT_HIGH";
				};
				tp-int {
					pins = "MAX96752_GPIO2";
					function = "DES_TXID8_TO_SER";
				};
				lcd-bl-en {
					pins = "MAX96752_GPIO7";
					function = "DES_TXID7_OUTPUT_HIGH";
				};
				lcd-bl-pwm {
					pins = "MAX96752_GPIO4";
					function = "SER_TO_DES_RXID4";
				};
			};

			i2c8_max96752_panel_sleep_pins: panel-sleep-pins {
				lcd-stbyb-pin {
					pins = "MAX96752_GPIO3";
					function = "DES_TXID3_OUTPUT_LOW";
				};
				tp-rst {
					pins = "MAX96752_GPIO5";
					function = "DES_TXID5_OUTPUT_LOW";
				};
			};

			i2c8_max96752_gpio: i2c8-max96752-gpio {
				compatible = "maxim,max96752-gpio";
				status = "okay";

				gpio-controller;
				#gpio-cells = <2>;
				gpio-ranges = <&i2c8_max96752_pinctrl 0 180 15>;
			};
		};

		i2c8_max96752_panel: i2c8-max96752-panel {
			compatible = "maxim,max96752-panel";
			status = "okay";

			backlight = <&backlight>;
			panel-size= <346 194>;

			panel-timing {
				clock-frequency = <86995000>;
				hactive = <1920>;
				vactive = <720>;
				hfront-porch = <26>;
				hsync-len = <12>;
				hback-porch = <12>;
				vfront-porch = <8>;
				vsync-len = <3>;
				vback-porch = <5>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					i2c8_max96752_from_i2c8_max96789: endpoint {
						remote-endpoint = <&i2c8_max96789_out_i2c8_max96752>;
					};
				};
			};
		};
	};

	i2c8_ilitek: i2c8-ilitek@41 {
		compatible = "ilitek,ili251x";
		reg = <0x41>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_gpio_dsi>;
		ilitek,name = "ilitek_i2c";
		status = "okay";
	};
};

&pinctrl {
	serdes {
		/*dsi-serdes*/
		i2c8_serdes_pins: i2c8-serdes-pins {
			rockchip,pins =
				<2 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,/*err*/
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;/*lock*/
		};

		/*dsi-touch*/
		touch_gpio_dsi: touch-gpio-dsi {
			rockchip,pins =
				<3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;/*irq*/
		};
	};
};

&mipidcphy0 {
	status = "okay";
};

/* dsi->serdes->lvds_panel */
&pwm1_6ch_1 {
	status = "okay";
	pinctrl-0 = <&pwm1m2_ch1>;
};

&route_dsi {
	status = "okay";
	connect = <&vp2_out_dsi>;
	logo,uboot = "logo.bmp";
	logo,kernel = "logo_kernel.bmp";
};

&vop_mmu1 {
	status = "okay";
};

&vop {
	status = "okay";
};

&vp0 {
	assigned-clocks = <&cru DCLK_VP0_SRC>;
	assigned-clock-parents = <&cru PLL_VPLL>;
};

&vp2 {
	assigned-clocks = <&cru DCLK_VP2_SRC>;
	assigned-clock-parents = <&cru PLL_VPLL>;
};
