// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588s-yyt-common.dtsi"
#include "rk3588s-yyt-lcd.dtsi"

/ {
    model = "Youyeetoo R1";
    compatible = "youyeetoo,r1", "rockchip,rk3588";

    /* AUDIO */

	es8388_sound: es8388-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-es8388";
        hp-det-gpio = <&gpio1 RK_PC0 GPIO_ACTIVE_LOW>;
		io-channels = <&saradc 3>;
		io-channel-names = "adc-detect";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s0_8ch>;
		rockchip,codec = <&es8388>;
        rockchip,audio-routing =
            "Headphone", "LOUT1",
            "Headphone", "ROUT1",
            "Speaker", "LOUT1",
            "Speaker", "ROUT1",
            "Headphone", "Headphone Power",
            "Speaker", "Speaker Power",
            "LINPUT1", "Headset Mic",
            "RINPUT1", "Headset Mic",
            "LINPUT2", "Main Mic",
            "RINPUT2", "Main Mic";
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		play-pause-key {
			label = "playpause";
			linux,code = <KEY_PLAYPAUSE>;
			press-threshold-microvolt = <2000>;
		};
	};

    backlight: backlight {
        compatible = "pwm-backlight";
        brightness-levels = <
            0  20  20  21  21  22  22  23
            23  24  24  25  25  26  26  27
            27  28  28  29  29  30  30  31
            31  32  32  33  33  34  34  35
            35  36  36  37  37  38  38  39
            40  41  42  43  44  45  46  47
            48  49  50  51  52  53  54  55
            56  57  58  59  60  61  62  63
            64  65  66  67  68  69  70  71
            72  73  74  75  76  77  78  79
            80  81  82  83  84  85  86  87
            88  89  90  91  92  93  94  95
            96  97  98  99 100 101 102 103
            104 105 106 107 108 109 110 111
            112 113 114 115 116 117 118 119
            120 121 122 123 124 125 126 127
            128 129 130 131 132 133 134 135
            136 137 138 139 140 141 142 143
            144 145 146 147 148 149 150 151
            152 153 154 155 156 157 158 159
            160 161 162 163 164 165 166 167
            168 169 170 171 172 173 174 175
            176 177 178 179 180 181 182 183
            184 185 186 187 188 189 190 191
            192 193 194 195 196 197 198 199
            200 201 202 203 204 205 206 207
            208 209 210 211 212 213 214 215
            216 217 218 219 220 221 222 223
            224 225 226 227 228 229 230 231
            232 233 234 235 236 237 238 239
            240 241 242 243 244 245 246 247
            248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    backlight1: backlight1 {
        compatible = "pwm-backlight";
        brightness-levels = <
                0  20  20  21  21  22  22  23
                23  24  24  25  25  26  26  27
                27  28  28  29  29  30  30  31
                31  32  32  33  33  34  34  35
                35  36  36  37  37  38  38  39
                40  41  42  43  44  45  46  47
                48  49  50  51  52  53  54  55
                56  57  58  59  60  61  62  63
                64  65  66  67  68  69  70  71
                72  73  74  75  76  77  78  79
                80  81  82  83  84  85  86  87
                88  89  90  91  92  93  94  95
                96  97  98  99 100 101 102 103
                104 105 106 107 108 109 110 111
                112 113 114 115 116 117 118 119
                120 121 122 123 124 125 126 127
                128 129 130 131 132 133 134 135
                136 137 138 139 140 141 142 143
                144 145 146 147 148 149 150 151
                152 153 154 155 156 157 158 159
                160 161 162 163 164 165 166 167
                168 169 170 171 172 173 174 175
                176 177 178 179 180 181 182 183
                184 185 186 187 188 189 190 191
                192 193 194 195 196 197 198 199
                200 201 202 203 204 205 206 207
                208 209 210 211 212 213 214 215
                216 217 218 219 220 221 222 223
                224 225 226 227 228 229 230 231
                232 233 234 235 236 237 238 239
                240 241 242 243 244 245 246 247
                248 249 250 251 252 253 254 255
        >;
        default-brightness-level = <200>;
    };

    /* BLUETOOTH */
    wireless_bluetooth: wireless-bluetooth {
        compatible = "bluetooth-platdata";
        clocks = <&hym8563>;
        clock-names = "ext_clock";
        status = "okay";
    };

    /* WIFI */
    wireless_wlan: wireless-wlan {
        compatible = "wlan-platdata";
        wifi_chip_type = "rtl8852be";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_host_wake_irq>;
        WIFI,host_wake_irq = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    /* FAN */
	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-levels = <100 160 190 200 215 235 255>;
		pwms = <&pwm6 0 40000 0>;
        fan-supply = <&vcc12v_dcin>;
	};

    /* If hdmirx node is disabled, delete the reserved-memory node here. */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve 256MB memory for hdmirx-controller@fdee0000 */
		cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 (256 * 0x100000) 0x0 (256 * 0x100000)>;
			linux,cma-default;
		};
	};
};

/* AUDIO */
&i2s0_8ch {
	status = "okay";
	pinctrl-0 = <&i2s0_lrck
		     &i2s0_sclk
		     &i2s0_sdi0
		     &i2s0_sdo0>;
};

/* PWM */
&pwm6{
     pinctrl-0 = <&pwm6m0_pins>;
     pinctrl-names = "active";
     status = "okay";
};

&pwm7{
     pinctrl-0 = <&pwm7m0_pins>;
     pinctrl-names = "active";
     status = "okay";
};

&pwm11 {
    pinctrl-0 = <&pwm11m1_pins>;
    pinctrl-names = "active";
    status = "okay";
};

&pwm12 {
    status = "okay";
    pinctrl-names = "active";
    pinctrl-0 = <&pwm12m1_pins>;
};

/* LCD BACKLIGHT */

&backlight {
    pwms = <&pwm12 0 25000 0>;
    status = "okay";
    power-supply = <&vcc5v0_sys>;
};

&backlight1 {
    pwms = <&pwm11 0 25000 0>;
    status = "disabled";
    power-supply = <&vcc5v0_sys>;
};