// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588-vehicle-evb-v23.dts"
#include "rk3588-linux.dtsi"

/ {

	model = "Rockchip RK3588 VEHICLE EVB V23 Board";
	compatible = "rockchip,rk3588-vehicle-evb-v23-linux", "rockchip,rk3588";

	reserved-memory {
		/delete-node/vendor_storage_rm;
	};

	/delete-node/vendor_storage;
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m1_xfer &uart7m1_ctsn &uart7m1_rtsn>;
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm4345c5";
		clocks = <&hym8563>;
		clock-names = "txco";

		device-wakeup-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		max-speed = <1500000>;
	};
};

&vop {
	/delete-property/ support-multi-area;
};

/*dsi*/
&i2c2 {
	himax@45 {
		status = "okay";
	};

	himax_split@46 {
		status = "okay";
	};
};

/*dp0*/
&i2c4 {
	himax@45 {
		status = "okay";
	};
};

&route_dsi0 {
	status = "okay";
	connect = <&vp2_out_dsi0>;
	logo,uboot = "logo.bmp";
	logo,kernel = "logo.bmp";
};

&route_dsi1 {
	status = "okay";
	connect = <&vp3_out_dsi1>;
	logo,uboot = "logo.bmp";
	logo,kernel = "logo.bmp";
};

/delete-node/ &wireless_bluetooth;
