// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Rockchip Electronics Co., Ltd.
 */

#include "rk3572.dtsi"
#include "rk3572-evb.dtsi"
#include "rk3572-rk806.dtsi"

/ {
	vcc3v3_hubreset: vcc3v3-hubreset {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_hubreset";
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_hub_reset>;
	};

	vcc3v3_pcie0: vcc3v3-pcie0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie0";
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
	};

	vcc5v0_usb3_drd: vcc5v0-usb3-drd {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb3_drd";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PD1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd0_pwren>;
	};

	vcc5v0_usb3_host: vcc5v0-usb3-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb3_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd1_pwren>;
	};

	vdd2l_0v9_ddr_s3: vdd2l-0v9-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd2l_0v9_ddr_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
	};
};

/delete-node/ &backlight;
/delete-node/ &vcc_ldo_s3;
/delete-node/ &vdd_gpu_s0;

&combphy0_psu {
	status = "okay";
};

&combphy1_psu {
	status = "okay";
};

&combphy2_ps {
	status = "okay";
};

&dsi {
	status = "disabled";
	/delete-node/ panel@0;
	ports {
	/delete-node/ port@1;
	};
};

&dsi_in_vp1 {
	status = "disabled";
};

&gmac0 {
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth0_miim_pins
		     &eth0_tx_bus2_pins
		     &eth0_rx_bus2_pins
		     &eth0_rgmii_clk_pins
		     &eth0_rgmii_bus_pins
		     &eth_clk0_25m_out_pins>;

	tx_delay = <0x20>;
	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m1_miim_pins
		     &eth1m1_tx_bus2_pins
		     &eth1m1_rx_bus2_pins
		     &eth1m1_rgmii_clk_pins
		     &eth1m1_rgmii_bus_pins
		     &ethm1_clk1_25m_out_pins>;

	tx_delay = <0x20>;
	/* rx_delay = <0x3f>; */
	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&hdmi {
	status = "okay";
	rockchip,sda-falling-delay-ns = <360>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_tx_default>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdptxphy_hdmi {
	status = "okay";
};

&i2c2 {
	status = "disabled";
	/delete-node/ hynitron@5a;
};

&mdio0 {
	status = "okay";
	rgmii_phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
	};
};

&mdio1 {
	status = "okay";
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};

&mipitx_dphy {
	status = "disabled";
};

&pcie0 {
	phys = <&combphy1_psu PHY_TYPE_PCIE>;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie0>;

	/*
	 * Disable usb_drd1_dwc3 if enabling pcie0 and set U1700
	 * to high state according to the schematic of page 17.
	 */
	status = "disabled";
};

&pinctrl {
	hdmi_tx {
		hdmi_tx_default: hdmi-tx-default {
			rockchip,pins =
				/* hdmi_tx_cec_m0 */
				<4 RK_PB0 13 &pcfg_pull_none>,
				/* hdmi_tx_hpdin_m0 */
				<4 RK_PB1 13 &pcfg_pull_none>,
				/* hdmi_tx_scl_m0 */
				<4 RK_PB2 13 &pcfg_pull_none>,
				/* hdmi_tx_sda_m0 */
				<4 RK_PB3 13 &pcfg_pull_none>;
		};
	};

	sata {
		satapm_pwren: satapm-pwren {
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb {
		usb_drd0_pwren: usb-drd0-pwren {
			rockchip,pins = <0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_drd1_pwren: usb-drd1-pwren {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_hub_reset: usb-hub-reset {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm1_6ch_5 {
	status = "disabled";
};

&rk806 {
	/delete-property/ buck5-feedback-disable;
	regulators {
		vdd_npu_s0: vdd_gpu_s0: DCDC_REG2 {
			regulator-boot-on;
			regulator-always-on;
			regulator-init-microvolt = <750000>;
			regulator-min-microvolt = <550000>;
			regulator-max-microvolt = <950000>;
			regulator-ramp-delay = <12500>;
			regulator-name = "vdd_npu_s0";
			regulator-enable-ramp-delay = <400>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};

		vcc_ldo_s3: DCDC_REG5 {
			regulator-always-on;
			regulator-boot-on;
			regulator-name = "vcc_ldo_s3";
			regulator-state-mem {
				regulator-on-in-suspend;
			};
		};
	};
};

&sata1 {
	status = "okay";
	pinctrl-0 = <&satapm_pwren>;
	pinctrl-names = "default";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	vbus-supply = <&vcc5v0_usb3_drd>;
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_usb3_host>;
	status = "okay";
};

&uart4 {
	status = "disabled";
};

&usb_drd0_dwc3 {
	dr_mode = "otg";
	extcon = <&u2phy0>;
	status = "okay";
};

&usb_drd1_dwc3 {
	dr_mode = "host";
	status = "okay";
};
