// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/usb/pd.h>
#include "rk3572.dtsi"
#include "rk3572-evb.dtsi"
#include "rk3572-rk806.dtsi"

/ {
	usb3_switch: usb3-switch {
		compatible = "broadchip,bct4360", "gpio-sbu-mux";
		select-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_switch_default>;
		orientation-switch;
	};

	vbus5v0_typec: vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd0_pwren>;
	};

	vcc_3v3_s0: vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc3v3_hubreset: vcc3v3-hubreset {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_hubreset";
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpio = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_hub_reset>;
	};

	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		regulator-boot-on;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
	};

	vcc5v0_usb2_host: vcc5v0-usb2-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb2_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd1_pwren>;
	};

	vdd2l_0v9_ddr_s3: vdd2l-0v9-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd2l_0v9_ddr_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
	};

	panel-edp {
		compatible = "simple-panel";
		backlight = <&backlight>;
		power-supply = <&vcc3v3_lcd>;
		pinctrl-name = "default";
		pinctrl-0 = <&edp_panel_reset>;
		reset-gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_LOW>;
		prepare-delay-ms = <120>;
		enable-delay-ms = <120>;
		unprepare-delay-ms = <120>;
		disable-delay-ms = <120>;
		width-mm = <120>;
		height-mm = <160>;
		status = "okay";

		panel-timing {
			clock-frequency = <200000000>;
			hactive = <1536>;
			vactive = <2048>;
			hfront-porch = <12>;
			hsync-len = <16>;
			hback-porch = <48>;
			vfront-porch = <8>;
			vsync-len = <4>;
			vback-porch = <8>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};

		port {
			panel_in_edp: endpoint {
				remote-endpoint = <&edp_out_panel>;
			};
		};
	};
};

&combphy0_psu {
	status = "okay";
};

&dsmc {
	clock-frequency = <10000000>;
	status = "disabled";
	slave {
		rockchip,dqs-dll = <0x80 0x80
				    0x80 0x80
				    0x80 0x80
				    0x80 0x80>;
		rockchip,ranges = <0x0 0x10000000 0x0 0x2000000>;
	};
};

&dsmc_slave {
	status = "disabled";
	psram {
		dsmc_psram0: psram0 {
			status = "disabled";
		};
		dsmc_psram1: psram1 {
			status = "disabled";
		};
		dsmc_psram2: psram2 {
			status = "disabled";
		};
		dsmc_psram3: psram3 {
			status = "disabled";
		};
	};

	lb-slave {
		dsmc_lb_slave0: lb-slave0 {
			rockchip,int-en = <0x0>;
			status = "okay";
			dsmc_p0_region: region {
				dsmc_p0_region0: region0 {
					status = "okay";
				};
				dsmc_p0_region3: region3 {
					status = "okay";
				};
			};
		};
	};
};

&edp {
	force-hpd;
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			edp_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp>;
			};
		};
	};
};

&edp_in_vp0 {
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m0_miim_pins
		     &eth1m0_tx_bus2_pins
		     &eth1m0_rx_bus2_pins
		     &eth1m0_rgmii_clk_pins
		     &eth1m0_rgmii_bus_pins
		     &ethm0_clk1_25m_out_pins>;

	tx_delay = <0x1f>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&hdptxphy {
	status = "okay";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m1_xfer_pins>;

	usbc0: husb311@4e {
		compatible = "hynetek,husb311";
		reg = <0x4e>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA5 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		usb_con0: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			orientation-switch = <&usb3_switch &u2phy0>;
			usb-role-switch = <&usb_drd0_dwc3>;

			sink-pdos = <PDO_FIXED(5000, 1000, PDO_FIXED_DATA_SWAP | PDO_FIXED_USB_COMM | PDO_FIXED_EXTPOWER | PDO_FIXED_DUAL_ROLE)>;
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_DATA_SWAP | PDO_FIXED_USB_COMM | PDO_FIXED_EXTPOWER | PDO_FIXED_DUAL_ROLE)>;
		};
	};
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};

&i2c2 {
	status = "okay";

	gsl3673@40 {
		compatible = "GSL,GSL3673";
		reg = <0x40>;
		screen_max_x = <1536>;
		screen_max_y = <2048>;
		irq-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_LOW>;
		rst-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
	};

	hynitron: hynitron@5a {
		status = "okay";
		compatible = "hyn,3240";
		reg = <0x5a>;

		pinctrl-names = "ts_active","ts_suspend";
		pinctrl-0 = <&ts_int_active &ts_reset_active>;
		pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;

		reset-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_LOW>;

		power-supply = <&vcc3v3_lcd>;
		max-touch-number = <5>;
		display-coords = <0 0 1080 1920>;
		pos-swap = <0>;
		posx-reverse = <0>;
		posy-reverse = <0>;
	};
};

&pinctrl {
	display {
		edp_panel_reset: edp-panel-reset {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		ts_int_active: ts_int_active {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		ts_reset_active: ts_reset_active {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		ts_int_suspend: ts_int_suspend {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		ts_reset_suspend: ts_reset_suspend {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	usb {
		usb3_switch_default: usb3-switch-default {
			rockchip,pins = <1 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_drd0_pwren: usb-drd0-pwren {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_drd1_pwren: usb-drd1-pwren {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_hub_reset: usb-hub-reset {
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sdmmc1 {
	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <200000000>;
	no-sdio;
	no-mmc;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

&u2phy0 {
	orientation-switch;
	status = "okay";
};

&u2phy0_otg {
	rockchip,typec-vbus-det;
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_usb2_host>;
	status = "okay";
};

&usb_drd0_dwc3 {
	dr_mode = "otg";
	usb-role-switch;
	status = "okay";
};

&usb_drd1_dwc3 {
	dr_mode = "host";
	maximum-speed = "high-speed";
	phys = <&u2phy1_otg>;
	phy-names = "usb2-phy";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
};
