/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&vcc_lcd_mipi1>;
		__overlay__ {
			compatible = "regulator-fixed";
			regulator-name = "vcc_lcd_mipi1";
			gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};
	};

	fragment@1 {
		target = <&pwm2>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m2_pins>;
		};
	};

	fragment@2 {
		target = <&dsi1>;
		__overlay__ {
			status = "okay";
			panel@0 {
				compatible = "simple-panel-dsi";
				reg = <0>;
				power-supply = <&vcc_lcd_mipi1>;
				reset-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_LOW>;
				backlight = <&dsi1_backlight>;
				pinctrl-names = "default";
				pinctrl-0 = <&dsi1_lcd_rst_gpio>;
				reset-delay-ms = <10>;
				enable-delay-ms = <10>;
				prepare-delay-ms = <10>;
				unprepare-delay-ms = <10>;
				disable-delay-ms = <10>;
				dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
				dsi,format = <MIPI_DSI_FMT_RGB888>;
				dsi,lanes  = <4>;
				panel-init-sequence = [ /* Init sequence */ ];
				panel-exit-sequence = [ /* Exit sequence */ ];
				
				display-timings {
					native-mode = <&dsi1_timing0>;
					dsi1_timing0: timing0 {
						clock-frequency = <160000000>;
						hactive = <1200>;
						vactive = <1920>;
						hfront-porch = <80>;
						hsync-len = <1>;
						hback-porch = <60>;
						vfront-porch = <35>;
						vsync-len = <1>;
						vback-porch = <25>;
						hsync-active = <0>;
						vsync-active = <0>;
						de-active = <0>;
						pixelclk-active = <1>;
					};
				};
				
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						panel_in_dsi1: endpoint {
							remote-endpoint = <&dsi1_out_panel>;
						};
					};
				};
			};
		};
	};

	fragment@3 {
		target = <&mipi_dcphy1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&route_dsi1>;
		__overlay__ {
			status = "okay";
			connect = <&vp3_out_dsi1>;
		};
	};

	fragment@5 {
		target = <&dsi1_in_vp3>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&i2c6>;
		__overlay__ {
			status = "okay";
			gt9xx: gt9xx@14 {
				compatible = "goodix,gt9xx";
				reg = <0x14>;
				pinctrl-names = "default";
				pinctrl-0 = <&gt9xx_gpio>;
				touch-gpio = <&gpio0 RK_PD3 IRQ_TYPE_LEVEL_HIGH>;
				reset-gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
				max-x = <1200>;
				max-y = <1920>;
				tp-size = <89>;
				tp-supply = <&vcc_lcd_mipi1>;
				configfile-num = <1>;
			};
		};
	};

	fragment@7 {
		target-path = "/pinctrl";
		__overlay__ {
			dsi1-lcd {
				dsi1_lcd_rst_gpio: dsi1-lcd-rst-gpio {
					rockchip,pins = <2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
				};

				dsi1_backlight_en: dsi1-backlight-en {
					rockchip,pins = <2 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
				};
			};

			gt9xx {
				gt9xx_gpio: gt9xx-gpio {
					rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>, <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
				};
			};
			
			focaltech {
				focaltech_gpio: focaltech-gpio {
					rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>, <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
				};
			};
		};
	};
};
