// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include "rk3572.dtsi"
#include "rk3572-evb.dtsi"
#include "rk3572-rk806.dtsi"
#include "rk3572-evb-input-keymap.dtsi"

/ {
	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		regulator-boot-on;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_3v3_s0: vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_mipicsi0: vcc-mipicsi0-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi0_pwr>;
		regulator-name = "vcc_mipicsi0";
		enable-active-high;
	};

	vdd2l_0v9_ddr_s3: vdd2l-0v9-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd2l_0v9_ddr_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys_s5>;
	};
};

&dsi_panel {
	power-supply = <&vcc3v3_lcd>;
};

&gmac0 {
	phy-mode = "rmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PD7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth0_miim_pins
		     &eth0_tx_bus2_pins
		     &eth0_rx_bus2_pins
		     &eth0_mclk_pins
		     &eth_clk0_25m_out_pins>;

	phy-handle = <&rmii_phy>;
	status = "okay";
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m0_miim_pins
		     &eth1m0_tx_bus2_pins
		     &eth1m0_rx_bus2_pins
		     &eth1m0_rgmii_clk_pins
		     &eth1m0_rgmii_bus_pins
		     &ethm0_clk1_25m_out_pins>;

	tx_delay = <0x20>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&hynitron {
	power-supply = <&vcc3v3_lcd>;
};

&mdio0 {
	rmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
	};
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};

&pinctrl {
	cam {
		mipicsi0_pwr: mipicsi0-pwr {
			rockchip,pins =
				/* camera power en */
				<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
