// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	bat: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <8000000>;
		precharge-current-microamp = <180000>;
		precharge-upper-limit-microvolt = <3600000>;
		charge-term-current-microamp = <300000>;
		constant-charge-current-max-microamp = <10000000>;
		constant-charge-voltage-max-microvolt = <4400000>;
		factory-internal-resistance-micro-ohms = <80>;
		voltage-max-design-microvolt = <4400000>;
		voltage-min-design-microvolt = <3000000>;
	};

	charge-animation {
		compatible = "rockchip,uboot-charge";
		rockchip,uboot-charge-on = <0>;
		rockchip,android-charge-on = <0>;
		rockchip,uboot-low-power-voltage = <3450>;
		rockchip,screen-on-voltage = <3500>;
		rockchip,auto-wakeup-interval = <5>;
		rockchip,uboot-exit-charge-level = <2>;
		rockchip,uboot-exit-charge-voltage = <3500>;
		rockchip,uboot-exit-charge-auto = <1>;
	};

	charger-manager {
		compatible = "rockchip-charger-manager";
		cm-name = "battery";
		cm-poll-mode = <2>;
		cm-poll-interval = <1000>;

		cm-chargers = "sgm4154x-charger";
		cm-chargers-phandle = <&usbc0>;
		cm-fuel-gauge = "rk817-battery";
		monitored-battery = <&bat>;
		extcon = <&u2phy0>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
	};

	vcc_2v3_s3: vcc-2v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_2v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2300000>;
		regulator-max-microvolt = <2300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_ufs_s0: vcc-ufs-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ufs_s0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc1v8_ufs_vccq2_s0: vcc1v8-ufs-vccq2-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_ufs_vccq2_s0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_sys>;
	};

	vdd2_ddr_s3: vdd2-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd2_ddr_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		vin-supply = <&vcc_sys>;
	};
};

&i2c0 {
	status = "okay";

	rk809b: rk809b@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		rockchip,system-power-controller;
		rockchip,shutdown-priority = <0>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_2v3_s3>;
		vcc6-supply = <&vcc_2v3_s3>;
		vcc7-supply = <&vcc_2v3_s3>;
		vcc8-supply = <&vcc_3v3_s3>;
		vcc9-supply = <&vcc_sys>;

		wakeup-source;

		rtc {
			status = "okay";
		};

		pwrkey {
			status = "okay";
		};

		regulators {
			vdd_cpu_lit_s0: DCDC_REG1 {
				regulator-name = "vdd_cpu_lit_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_big_s0: DCDC_REG2 {
				regulator-name = "vdd_cpu_big_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_logic_s0: DCDC_REG3 {
				regulator-name = "vcc_logic_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_1v8_s0: DCDC_REG4 {
				regulator-name = "vccio_1v8_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s3: DCDC_REG5 {
				regulator-name = "vcc_3v3_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vdda_0v85_s0: LDO_REG1 {
				regulator-name = "vdda_0v85_s0";
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75_s0: LDO_REG2 {
				regulator-name = "vdda_0v75_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v75_s3: LDO_REG3 {
				regulator-name = "vdd_0v75_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vcca1v8_codec_s0: LDO_REG4 {
				regulator-name = "vcca1v8_codec_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_s0: LDO_REG5 {
				regulator-name = "vcca_1v8_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: LDO_REG6 {
				regulator-name = "vcc_1v8_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};


			vcca_1v2_s0: LDO_REG9 {
				regulator-name = "vcca_1v2_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_swout1: SWITCH_REG1 {
				regulator-name = "vcc_swout1";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc_3v3_s0";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		rk817_battery: rk817-battery {
			compatible = "rk817,battery";
			ocv_table = <3400 3679 3692 3720 3746 3765 3783 3798 3817 3839 3867
					3906 3961 3996 4063 4107 4161 4216 4274 4333 4379>;
			design_capacity = <7200>;
			design_qmax = <7500>;
			bat_res = <83>;
			sleep_enter_current = <150>;
			sleep_exit_current = <180>;
			sleep_filter_current = <100>;
			power_off_thresd = <3400>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			sample_res = <10>;
			virtual_power = <0>;
			bat_res_up = <91>;
			bat_res_down = <30>;
			fake_full_soc = <95>;
			nominal_voltage = <3850>;
		};

		rk809_codec: codec {
			#sound-dai-cells = <1>;
			compatible = "rockchip,rk809-codec", "rockchip,rk817-codec";
			clocks = <&mclkout_sai1>;
			clock-names = "mclk";
			assigned-clocks = <&mclkout_sai1>;
			assigned-clock-rates = <12288000>;
			pinctrl-names = "default";
			pinctrl-0 = <&sai1m0_mclk_pins>;
			hp-volume = <20>;
			spk-volume = <25>;
			use-ext-amplifier;
			spk-ctl-gpios = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
			mic-swap-non-differential;
			status = "okay";
		};
	};

	rk805b: rk805b@18 {
		compatible = "rockchip,rk805";
		reg = <0x18>;

		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;

		#clock-cells = <1>;
		clock-output-names = "rk805-clkout1", "rk805-clkout2";

		rockchip,system-power-controller;
		wakeup-source;
		rockchip,shutdown-priority = <0>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;
		/* 0: active low, 1:active high */
		sleep-pin-polarity = <1>;
		status = "okay";

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;

		rtc {
			status = "disabled";
		};

		pwrkey {
			status = "disabled";
		};

		regulators {
			vdd_npu_s0: DCDC_REG1 {
				regulator-name = "vdd_npu_s0";
				regulator-min-microvolt = <712500>;
				regulator-max-microvolt = <1450000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu_s0: DCDC_REG2 {
				regulator-name = "vdd_gpu_s0";
				regulator-min-microvolt = <712500>;
				regulator-max-microvolt = <1050000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vddq_ddr_s0: DCDC_REG3 {
				regulator-name = "vddq_ddr_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_ddr_s0: DCDC_REG4 {
				regulator-name = "vdd_ddr_s0";
				regulator-min-microvolt = <712500>;
				regulator-max-microvolt = <850000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: LDO_REG1 {
				regulator-name = "vccio_sd_s0";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd_s0: LDO_REG2 {
				regulator-name = "vcc3v3_sd_s0";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_micbias: LDO_REG3 {
				regulator-name = "vcc_3v3_micbias";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};
