// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/clock/rockchip,rk3572-cru.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/power/rockchip,rk3572-power-controller.h>
#include <dt-bindings/reset/rockchip,rk3572-cru.h>

/ {
	compatible = "rockchip,rk3572";

	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		serial0 = &uart0;
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		clk_rcosc: clk_rcosc {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "clk_rcosc";
		};

		spll: spll {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <702000000>;
			clock-output-names = "spll";
		};

		xin24m: xin24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "xin24m";
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_l0>;
				};
				core1 {
					cpu = <&cpu_l1>;
				};
				core2 {
					cpu = <&cpu_l2>;
				};
				core3 {
					cpu = <&cpu_l3>;
				};
			};
			cluster1 {
				core0 {
					cpu = <&cpu_l4>;
				};
				core1 {
					cpu = <&cpu_l5>;
				};
			};
			cluster2 {
				core0 {
					cpu = <&cpu_b0>;
				};
				core1 {
					cpu = <&cpu_b1>;
				};
			};
		};

		cpu_l0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			enable-method = "psci";
		};

		cpu_l1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x1>;
			enable-method = "psci";
		};

		cpu_l2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x2>;
			enable-method = "psci";
		};

		cpu_l3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x3>;
			enable-method = "psci";
		};

		cpu_l4: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x100>;
			enable-method = "psci";
		};

		cpu_l5: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x101>;
			enable-method = "psci";
		};

		cpu_b0: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a73";
			reg = <0x200>;
			enable-method = "psci";
		};

		cpu_b1: cpu@201 {
			device_type = "cpu";
			compatible = "arm,cortex-a73";
			reg = <0x201>;
			enable-method = "psci";
		};
	};

	display_subsystem: display-subsystem {
		compatible = "rockchip,display-subsystem";
		ports = <&vop_out>;

		route {
			route_rgb: route-rgb {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp1_out_rgb>;
			};

			route_dsi: route-dsi {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp1_out_dsi>;
			};

			route_edp: route-edp {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp1_out_edp>;
			};

			route_hdmi: route-hdmi {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp0_out_hdmi>;
			};
		};
	};

	pinctrl: pinctrl {
		compatible = "rockchip,rk3572-pinctrl";
		rockchip,grf = <&ioc_grf>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		gpio0: gpio@26300000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0x26300000 0x0 0x200>;
			interrupts = <GIC_SPI 104 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 105 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 106 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 107 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO0>, <&cru DBCLK_GPIO0>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 0 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio1: gpio@2b200000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0x2b200000 0x0 0x200>;
			interrupts = <GIC_SPI 108 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO1>, <&cru DBCLK_GPIO1>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 32 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio2: gpio@2b300000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0x2b300000 0x0 0x200>;
			interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO2>, <&cru DBCLK_GPIO2>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 64 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio3: gpio@2b400000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0x2b400000 0x0 0x200>;
			interrupts = <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO3>, <&cru DBCLK_GPIO3>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 96 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio4: gpio@2b500000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x0 0x2b500000 0x0 0x200>;
			interrupts = <GIC_SPI 120 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 121 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 122 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 123 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO4>, <&cru DBCLK_GPIO4>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 128 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	pmu_a53: pmu-cluster0 {
		compatible = "arm,cortex-a53-pmu";
		interrupts = <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu_l0>, <&cpu_l1>, <&cpu_l2>, <&cpu_l3>,
				     <&cpu_l4>, <&cpu_l5>;
	};

	pmu_a73: pmu-cluster2 {
		compatible = "arm,cortex-a73-pmu";
		interrupts = <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu_b0>, <&cpu_b1>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		sys_grf: syscon@26010000 {
			compatible = "rockchip,rk3572-sys-grf", "syscon";
			reg = <0x0 0x26010000 0x0 0x2000>;
		};

		vo_grf: syscon@26022000 {
			compatible = "rockchip,rk3572-vo-grf", "syscon";
			reg = <0x0 0x26022000 0x0 0x2000>;
			clocks = <&cru PCLK_VO_ROOT>;
		};

		hdptxphy_grf: syscon@26060000 {
			compatible = "rockchip,rk3572-hdptxphy-grf", "syscon";
			reg = <0x0 0x26060000 0x0 0x2000>;
		};

		ioc_grf: syscon@26072000 {
			compatible = "rockchip,rk3572-ioc-grf", "syscon", "simple-mfd";
			reg = <0x0 0x26072000 0x0 0x16000>;

			rgb: rgb {
				compatible = "rockchip,rk3572-rgb";
				pinctrl-names = "default";
				status = "disabled";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;

						rgb_in_vp0: endpoint@0 {
							reg = <0>;
							remote-endpoint = <&vp0_out_rgb>;
							status = "disabled";
						};

						rgb_in_vp1: endpoint@1 {
							reg = <1>;
							remote-endpoint = <&vp1_out_rgb>;
							status = "disabled";
						};

						rgb_in_vopl: endpoint@2 {
							reg = <2>;
							remote-endpoint = <&vopl_out_rgb>;
							status = "disabled";
						};
					};
				};
			};
		};

		cru: clock-controller@26090000 {
			compatible = "rockchip,rk3572-cru";
			reg = <0x0 0x26090000 0x0 0x60000>;
			#clock-cells = <1>;
			#reset-cells = <1>;

			assigned-clocks =
				<&cru CLK_AUDIO_FRAC_1_SRC>, <&cru PLL_CPLL>,
				<&cru PLL_AUPLL>, <&cru CLK_UART_FRAC_0>,
				<&cru CLK_UART_FRAC_1>, <&cru CLK_UART_FRAC_2>,
				<&cru CLK_AUDIO_FRAC_0>, <&cru CLK_AUDIO_FRAC_1>,
				<&cru CLK_AUDIO_INT_0>, <&cru CLK_AUDIO_INT_1>,
				<&cru CLK_GPU>;
			assigned-clock-parents = <&cru PLL_AUPLL>;
			assigned-clock-rates =
				<0>, <1000000000>,
				<786432000>, <18432000>,
				<96000000>, <128000000>,
				<45158400>, <49152000>,
				<49152000>, <24576000>,
				<200000000>;
		};

		pwm0_2ch_0: pwm@26200000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x26200000 0x0 0x1000>;
			interrupts = <GIC_SPI 136 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch0_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>,
				 <&cru CLK_PWM0_OSC>, <&cru CLK_PWM0_RC>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm0_2ch_1: pwm@26210000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x26210000 0x0 0x1000>;
			interrupts = <GIC_SPI 137 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch1_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>,
				 <&cru CLK_PWM0_OSC>, <&cru CLK_PWM0_RC>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pmu: power-management@26550000 {
			compatible = "rockchip,rk3572-pmu", "syscon", "simple-mfd";
			reg = <0x0 0x26550000 0x0 0x1000>;
			rockchip,grf = <&sys_grf>;

			power: power-controller {
				compatible = "rockchip,rk3572-power-controller";
				#power-domain-cells = <1>;
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				/* These power domains are grouped by VD_NPU */
				power-domain@RK3572_PD_NPU {
					reg = <RK3572_PD_NPU>;
				};
				/* These power domains are grouped by VD_GPU */
				power-domain@RK3572_PD_GPU {
					reg = <RK3572_PD_GPU>;
				};
				/* These power domains are grouped by VD_LOGIC */
				power-domain@RK3572_PD_NVM1 {
					reg = <RK3572_PD_NVM1>;
				};
				power-domain@RK3572_PD_DSMC {
					reg = <RK3572_PD_DSMC>;
				};
				power-domain@RK3572_PD_PHP {
					reg = <RK3572_PD_PHP>;
				};
				power-domain@RK3572_PD_AUDIO {
					reg = <RK3572_PD_AUDIO>;
				};
				power-domain@RK3572_PD_IMG {
					reg = <RK3572_PD_IMG>;
				};
				power-domain@RK3572_PD_VDEC {
					reg = <RK3572_PD_VDEC>;
				};
				power-domain@RK3572_PD_VI {
					reg = <RK3572_PD_VI>;
					#address-cells = <1>;
					#size-cells = <0>;

					power-domain@RK3572_PD_VENC {
						reg = <RK3572_PD_VENC>;
					};
				};
				power-domain@RK3572_PD_VOP {
					reg = <RK3572_PD_VOP>;
					#address-cells = <1>;
					#size-cells = <0>;

					power-domain@RK3572_PD_VOP_PRE {
						reg = <RK3572_PD_VOP_PRE>;
					};
					power-domain@RK3572_PD_VO {
						reg = <RK3572_PD_VO>;
					};
					power-domain@RK3572_PD_NVM0 {
						reg = <RK3572_PD_NVM0>;
					};
				};
			};
		};

		cci_hwlock0: hwspinlock@26900000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x26900000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		cci_hwlock1: hwspinlock@26910000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x26910000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		cci_hwlock2: hwspinlock@26920000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x26920000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		cci_hwlock3: hwspinlock@26930000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x26930000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		vopl: vop@27100000 {
			compatible = "rockchip,rk3572-vop-lit";
			reg = <0x0 0x27100000 0x0 0x200>;
			reg-names = "regs";
			interrupts = <GIC_SPI 193 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_EBC>, <&cru DCLK_EBC>, <&cru HCLK_EBC>;
			clock-names = "aclk_vop", "dclk_vop", "hclk_vop";
			power-domains = <&power RK3572_PD_IMG>, <&power RK3572_PD_VO>;
			power-domain-names = "pd0", "pd1";
			rockchip,grf = <&ioc_grf>;
			rockchip,vo0-grf = <&vo_grf>;
			status = "disabled";

			vopl_out: port {
				#address-cells = <1>;
				#size-cells = <0>;

				vopl_out_rgb: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&rgb_in_vopl>;
				};

				vopl_out_dsi: endpoint@1 {
					reg = <1>;
					//remote-endpoint = <&dsi_in_vopl>;
				};

				vopl_out_edp: endpoint@2 {
					reg = <2>;
					remote-endpoint = <&edp_in_vopl>;
				};

				vopl_out_hdmi: endpoint@3 {
					reg = <3>;
					//remote-endpoint = <&hdmi_in_vopl>;
				};
			};
		};

		rga2_core0: rga@27120000 {
			compatible = "rockchip,rga2";
			reg = <0x0 0x27120000 0x0 0x1000>;
			interrupts = <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "rga2_core0_irq";
			clocks = <&cru ACLK_RGA2E_0>, <&cru HCLK_RGA2E_0>, <&cru CLK_CORE_RGA2E_0>;
			clock-names = "aclk_rga", "hclk_rga", "clk_rga";
			power-domains = <&power RK3572_PD_IMG>;
			iommus = <&rga2_core0_mmu>;
			status = "disabled";
		};

		rga2_core0_mmu: iommu@27120f00 {
			compatible = "rockchip,iommu-v2";
			reg = <0x0 0x27120f00 0x0 0x100>;
			interrupts = <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "rga2_0_mmu";
			clocks = <&cru ACLK_RGA2E_0>, <&cru HCLK_RGA2E_0>;
			clock-names = "aclk", "iface";
			power-domains = <&power RK3572_PD_IMG>;
			#iommu-cells = <0>;
			status = "disabled";
		};

		vop: vop@27500000 {
			compatible = "rockchip,rk3572-vop";
			reg = <0x0 0x27500000 0x0 0x3c00>,
			      <0x0 0x27505000 0x0 0x1000>,
			      <0x0 0x27506400 0x0 0x800>,
			      <0x0 0x27506c00 0x0 0x300>;
			reg-names = "regs",
				    "gamma_lut",
				    "acm_regs",
				    "sharp_regs";
			interrupts = <GIC_SPI 329 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 328 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 327 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "vop-sys",
					  "vop-vp0",
					  "vop-vp1";
			clocks = <&cru ACLK_VOP>,
				 <&cru HCLK_VOP>,
				 <&cru DCLK_VP0>,
				 <&cru DCLK_VP1>,
				 <&cru DCLK_VP0_SRC>,
				 <&cru DCLK_VP1_SRC>;
			clock-names = "aclk_vop",
				      "hclk_vop",
				      "dclk_vp0",
				      "dclk_vp1",
				      "dclk_src_vp0",
				      "dclk_src_vp1";
			resets = <&cru SRST_DRESETN_VP0>,
				 <&cru SRST_DRESETN_VP1>;
			reset-names = "dclk_vp0",
				      "dclk_vp1";
			rockchip,aclk-normal-mode-rates = <500000000>;
			rockchip,aclk-reset-mode-rates = <594000000>;
			rockchip,aclk-advanced-mode-rates = <702000000>;
			iommus = <&vop_mmu>;
			rockchip,ioc-grf = <&ioc_grf>;
			status = "disabled";

			vop_out: ports {
				#address-cells = <1>;
				#size-cells = <0>;

				vp0: port@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					vp0_out_rgb: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&rgb_in_vp0>;
					};

					vp0_out_dsi: endpoint@1 {
						reg = <1>;
					};

					vp0_out_edp: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&edp_in_vp0>;
					};

					vp0_out_hdmi: endpoint@3 {
						reg = <3>;
					};
				};

				vp1: port@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;

					vp1_out_rgb: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&rgb_in_vp1>;
					};

					vp1_out_dsi: endpoint@1 {
						reg = <1>;
					};

					vp1_out_edp: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&edp_in_vp1>;
					};

					vp1_out_hdmi: endpoint@3 {
						reg = <3>;
					};
				};
			};
		};

		vop_mmu: iommu@27507e00 {
			compatible = "rockchip,iommu-v2";
			reg = <0x0 0x27507e00 0x0 0x100>, <0x0 0x27507f00 0x0 0x100>;
			interrupts = <GIC_SPI 329 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "vop_mmu";
			clocks = <&cru ACLK_VOP>, <&cru HCLK_VOP>;
			clock-names = "aclk", "iface";
			#iommu-cells = <0>;
			rockchip,disable-device-link-resume;
			rockchip,shootdown-entire;
			rockchip,enable-pagefault-fake-mode;
			status = "disabled";
		};

		edp: edp@276b0000 {
			compatible = "rockchip,rk3572-edp";
			reg = <0x0 0x276b0000 0x0 0x10000>;
			interrupts = <GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru CLK_EDP0_24M>, <&cru PCLK_EDP0>,
				 <&cru CLK_EDP0_200M>, <&cru HCLK_VO_ROOT>;
			clock-names = "dp", "pclk", "spdif", "hclk";
			resets = <&cru SRST_RESETN_EDP0_24M>, <&cru SRST_PRESETN_EDP0>;
			reset-names = "dp", "apb";
			phys = <&hdptxphy>;
			phy-names = "dp";
			power-domains = <&power RK3572_PD_VO>;
			rockchip,grf = <&vo_grf>;
			#sound-dai-cells = <1>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;

					edp_in_vp0: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&vp0_out_edp>;
						status = "disabled";
					};

					edp_in_vp1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&vp1_out_edp>;
						status = "disabled";
					};

					edp_in_vopl: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&vopl_out_edp>;
						status = "disabled";
					};
				};
			};
		};

		gic: interrupt-controller@2a601000 {
			compatible = "arm,gic-400";
			#interrupt-cells = <3>;
			#size-cells = <0>;
			interrupt-controller;

			reg = <0x0 0x2a601000 0 0x1000>,
			      <0x0 0x2a602000 0 0x2000>,
			      <0x0 0x2a604000 0 0x2000>,
			      <0x0 0x2a606000 0 0x2000>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
		};

		hwlock0: hwspinlock@2ac00000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x2ac00000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		hwlock1: hwspinlock@2ac10000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x2ac10000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		hwlock2: hwspinlock@2ac20000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x2ac20000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		hwlock3: hwspinlock@2ac30000 {
			compatible = "rockchip,hwspinlock";
			reg = <0x0 0x2ac30000 0x0 0x20>;
			#hwlock-cells = <1>;
			rockchip,hwlock-num-locks = <8>;
			rockchip,hwlock-max-user = <0x3f>;
			status = "disabled";
		};

		pwm1_6ch_0: pwm@2af00000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af00000 0x0 0x1000>;
			interrupts = <GIC_SPI 138 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch0_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm1_6ch_1: pwm@2af10000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af10000 0x0 0x1000>;
			interrupts = <GIC_SPI 139 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch1_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm1_6ch_2: pwm@2af20000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af20000 0x0 0x1000>;
			interrupts = <GIC_SPI 140 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch2_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm1_6ch_3: pwm@2af30000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af30000 0x0 0x1000>;
			interrupts = <GIC_SPI 141 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch3_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm1_6ch_4: pwm@2af40000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af40000 0x0 0x1000>;
			interrupts = <GIC_SPI 142 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch4_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm1_6ch_5: pwm@2af50000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2af50000 0x0 0x1000>;
			interrupts = <GIC_SPI 143 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch5_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
				 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_0: pwm@2b000000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b000000 0x0 0x1000>;
			interrupts = <GIC_SPI 144 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch0_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_1: pwm@2b010000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b010000 0x0 0x1000>;
			interrupts = <GIC_SPI 145 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch1_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_2: pwm@2b020000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b020000 0x0 0x1000>;
			interrupts = <GIC_SPI 146 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch2_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_3: pwm@2b030000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b030000 0x0 0x1000>;
			interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch3_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_4: pwm@2b040000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b040000 0x0 0x1000>;
			interrupts = <GIC_SPI 148 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch4_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_5: pwm@2b050000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b050000 0x0 0x1000>;
			interrupts = <GIC_SPI 149 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch5_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_6: pwm@2b060000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b060000 0x0 0x1000>;
			interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch6_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		pwm2_8ch_7: pwm@2b070000 {
			compatible = "rockchip,rk3572-pwm", "rockchip,rk3538-pwm";
			reg = <0x0 0x2b070000 0x0 0x1000>;
			interrupts = <GIC_SPI 151 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m0_ch7_pins>;
			clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
				 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
			clock-names = "pwm", "pclk",
				      "osc", "rc";
			status = "disabled";
		};

		mailbox0: mailbox@2b100000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b100000 0x0 0x40>;
			interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox1: mailbox@2b110000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b110000 0x0 0x40>;
			interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox2: mailbox@2b120000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b120000 0x0 0x40>;
			interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox3: mailbox@2b130000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b130000 0x0 0x40>;
			interrupts = <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox4: mailbox@2b140000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b140000 0x0 0x40>;
			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox5: mailbox@2b150000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b150000 0x0 0x40>;
			interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox6: mailbox@2b160000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b160000 0x0 0x40>;
			interrupts = <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox7: mailbox@2b170000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b170000 0x0 0x40>;
			interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox8: mailbox@2b180000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b180000 0x0 0x40>;
			interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox9: mailbox@2b190000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b190000 0x0 0x40>;
			interrupts = <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox10: mailbox@2b1a0000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b1a0000 0x0 0x40>;
			interrupts = <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox11: mailbox@2b1b0000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b1b0000 0x0 0x40>;
			interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox12: mailbox@2b1c0000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b1c0000 0x0 0x40>;
			interrupts = <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox13: mailbox@2b1d0000 {
			compatible = "rockchip,rk3572-mailbox", "rockchip,rk3576-mailbox";
			reg = <0x0 0x2b1d0000 0x0 0x40>;
			interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX0>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		dmac0: dma-controller@2bfe0000 {
			compatible = "rockchip,rk3572-dma", "rockchip,dma";
			reg = <0x0 0x2bfe0000 0x0 0x2000>;
			interrupts = <GIC_SPI 158 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_RKDMA0>, <&cru PCLK_RKDMA0>;
			clock-names = "aclk", "pclk";
			#dma-cells = <1>;
		};

		dmac1: dma-controller@2bff0000 {
			compatible = "rockchip,rk3572-dma", "rockchip,dma";
			reg = <0x0 0x2bff0000 0x0 0x2000>;
			interrupts = <GIC_SPI 159 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_RKDMA1>, <&cru PCLK_RKDMA1>;
			clock-names = "aclk", "pclk";
			#dma-cells = <1>;
		};

		dmac2: dma-controller@2c000000 {
			compatible = "rockchip,rk3572-dma", "rockchip,dma";
			reg = <0x0 0x2c000000 0x0 0x2000>;
			interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_RKDMA2>, <&cru PCLK_RKDMA2>;
			clock-names = "aclk", "pclk";
			#dma-cells = <1>;
		};

		dmac3: dma-controller@2c010000 {
			compatible = "rockchip,rk3572-dma", "rockchip,dma";
			reg = <0x0 0x2c010000 0x0 0x2000>;
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_RKDMA3>, <&cru PCLK_RKDMA3>;
			clock-names = "aclk", "pclk";
			#dma-cells = <1>;
		};

		uart0: serial@2c130000 {
			compatible = "rockchip,rk3572-uart", "snps,dw-apb-uart";
			reg = <0x0 0x2c130000 0x0 0x100>;
			interrupts = <GIC_SPI 124 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART0>, <&cru PCLK_UART0>;
			clock-names = "baudclk", "apb_pclk";
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		hdptxphy: phy@2c310000 {
			compatible = "rockchip,rk3572-hdptx-phy", "rockchip,rk3588-hdptx-phy";
			reg = <0x0 0x2c310000 0x0 0x10000>;
			clocks = <&xin24m>, <&cru PCLK_HDPTXPHY>;
			clock-names = "ref", "apb";
			resets = <&cru SRST_PRESETN_HDPTXPHY>, <&cru SRST_RESETN_HDPTX_INIT>,
				 <&cru SRST_RESETN_HDPTX_CMN>, <&cru SRST_RESETN_HDPTX_LANE>;
			reset-names = "apb", "init", "cmn", "lane";
			rockchip,grf = <&hdptxphy_grf>;
			#phy-cells = <0>;
			status = "disabled";
		};
	};
};

#include "rk3572-pinctrl.dtsi"
