// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Rockchip Electronics Co., Ltd.
 *
 */
/ {
	vcc_mipipwr: vcc-mipipwr-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicam_pwr>;
		regulator-name = "vcc_mipipwr";
		enable-active-high;
		regulator-boot-on;
	};
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_gc05a2: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&gc05a2_out>;
				data-lanes = <1 2>;
			};

		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&i2c3 {
	status = "okay";

	gc05a2: gc05a2@37 {
		compatible = "galaxycore,gc05a2";
		status = "okay";
		reg = <0x37>;

		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk0m1_clk0_pins>;
		power-domains = <&power RK3572_PD_VI>;

		avdd-supply = <&vcc_mipipwr>;
		//dovdd-supply = <&vcc_1v8_cam>;
		//dvdd-supply = <&vcc1v2_dvp>;

		//reset pin control by hardware,used this pin switch to mipi input
		//0->FRONT camera, 1->REAR camera
		//power-gpios = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "KYT-11210-V2";//"P10K";//"KYT-11210-V2";
		rockchip,camera-module-lens-name = "default";//"DL5020";//"default";
		flash-leds = <&aw36518_led0>;

		port {
			gc05a2_out: endpoint {
				remote-endpoint = <&mipi_in_gc05a2>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer_pins>;

	flashlight: aw36518@63 {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "awinic,aw36518";
		label = "aw36518-flash";
		reg = <0x63>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		aw36518_led0: led@0 {
			reg = <0x0>;
			led-max-microamp = <299200>;//torch模式最大电流
			flash-max-microamp = <1122000>;//flash模式最大电流
			flash-max-timeout-us = <1600000>;//falsh最大时间
		};
		aw36518_led1: led@1 {
			reg = <0x1>;
			led-max-microamp = <299200>;//torch模式最大电流
			flash-max-microamp = <1122000>;//flash模式最大电流
			flash-max-timeout-us = <1600000>;//falsh最大时间
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&pinctrl {
	cam {
		mipicam_pwr: mipicam-pwr {
			rockchip,pins =
				/* camera power en */
				<2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;  /* cam rst */
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0_in0>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0_in0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};
