// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/usb/pd.h>
#include "rk3572.dtsi"
#include "rk3572-evb.dtsi"
#include "rk3572-rk806.dtsi"

/ {
	usb3_switch: usb3-switch {
		compatible = "broadchip,bct4360", "gpio-sbu-mux";
		select-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_switch_default>;
		orientation-switch;
	};

	vbus5v0_typec: vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd1_pwren>;
	};

	vcc_3v3_s0: vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc3v3_lcd: vcc3v3-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		regulator-boot-on;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
	};

	vcc3v3_pcie1: vcc3v3-pcie1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie0";
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
	};

	vcc5v0_usb2_host: vcc5v0-usb2-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb2_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drd0_pwren>;
	};

	vdd2l_0v9_ddr_s3: vdd2l-0v9-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd2l_0v9_ddr_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
	};
};

&acdcdig_dsm {
	status = "okay";
};

&combphy0_psu {
	rockchip,dis-u3otg0-port;
	status = "okay";
};

&combphy1_psu {
	status = "okay";
};

&combphy2_ps {
	status = "okay";
};

&dsm_sound {
	status = "okay";
};

&edp {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&edp_txm1_pins>;
};

&edp_in_vp0 {
	status = "okay";
};

&edp_sound {
	status = "okay";
};

&es7202_sound_micarray {
	status = "okay";
};

&hdptxphy {
	status = "okay";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m1_xfer_pins>;

	usbc0: husb311@4e {
		compatible = "hynetek,husb311";
		reg = <0x4e>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		usb_con0: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			orientation-switch = <&usb3_switch &u2phy1>;
			usb-role-switch = <&usb_drd1_dwc3>;

			sink-pdos = <PDO_FIXED(5000, 1000, PDO_FIXED_DATA_SWAP | PDO_FIXED_USB_COMM | PDO_FIXED_EXTPOWER | PDO_FIXED_DUAL_ROLE)>;
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_DATA_SWAP | PDO_FIXED_USB_COMM | PDO_FIXED_EXTPOWER | PDO_FIXED_DUAL_ROLE)>;
		};
	};
};

&i2c3 {
	status = "okay";
};

&pdm0 {
	pinctrl-0 = <&pdmm1_sdi2_pins>;
	pinctrl-1 = <&pdmm1_clk1_idle>;
	pinctrl-2 = <&pdmm1_clk1_pins>;
	rockchip,path-map = <2 0 1 3>;
	status = "okay";
};

&pcie1 {
	reset-gpios = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie1>;
	status = "okay";
};

&pinctrl {
	usb {
		usb3_switch_default: usb3-switch-default {
			rockchip,pins = <1 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_drd0_pwren: usb-drd0-pwren {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_drd1_pwren: usb-drd1-pwren {
			rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sai3 {
	status = "okay";
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&sai4 {
	status = "okay";
};

&sata0 {
	status = "okay";
};

&sdmmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0m1_bus4_pins &sdmmc0m1_clk_pins &sdmmc0m1_cmd_pins &sdmmc0m1_det_pins>;
	/*
	 * If using sdmmc0, please solder on R1916, R1917, R1920, R1922,
	 * R1925, R1927 and R1950. Then disconnect registers from R1900 to R1903
	 */
	status = "disabled";
};

&uart4 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	phy-supply = <&vcc5v0_usb2_host>;
	status = "okay";
};

&u2phy1 {
	orientation-switch;
	status = "okay";
};

&u2phy1_otg {
	rockchip,typec-vbus-det;
	status = "okay";
};

&usb_drd0_dwc3 {
	dr_mode = "host";
	maximum-speed = "high-speed";
	phys = <&u2phy0_otg>;
	phy-names = "usb2-phy";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
};

&usb_drd1_dwc3 {
	dr_mode = "otg";
	usb-role-switch;
	status = "okay";
};
