// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/clock/rockchip,rk3538-cru.h>
#include <dt-bindings/display/rockchip-tve.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/reset/rockchip,rk3538-cru.h>

/ {
	compatible = "rockchip,rk3538";

	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		gpio5 = &gpio5;
		gpio6 = &gpio6;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &fspi;
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		spll: spll {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <900000000>;
			clock-output-names = "spll";
		};

		xin24m: xin24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "xin24m";
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0>;
			enable-method = "psci";
		};

		cpu1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x100>;
			enable-method = "psci";
		};

		cpu2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x200>;
			enable-method = "psci";
		};

		cpu3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x300>;
			enable-method = "psci";
		};
	};

	arm-pmu {
		compatible = "arm,cortex-a55-pmu";
		interrupts = <GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 225 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 226 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 227 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>, <&cpu2>, <&cpu3>;
	};

	display_subsystem: display-subsystem {
		compatible = "rockchip,display-subsystem";
		ports = <&vop_out>;

		route {
			route_hdmi: route-hdmi {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp0_out_hdmi>;
			};

			route_tve: route-tve {
				status = "disabled";
				logo,uboot = "logo.bmp";
				logo,kernel = "logo_kernel.bmp";
				logo,mode = "center";
				charge_logo,mode = "center";
				connect = <&vp0_out_tve>;
			};
		};
	};

	pinctrl: pinctrl {
		compatible = "rockchip,rk3538-pinctrl";
		rockchip,grf = <&ioc_grf>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gpio0: gpio@fc300000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc300000 0x200>;
			interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 1 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_PMU_GPIO0>, <&cru DBCLK_PMU_GPIO0>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 0 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio1: gpio@fc400000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc400000 0x200>;
			interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO1>, <&cru DBCLK_GPIO1>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 32 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio2: gpio@fc500000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc500000 0x200>;
			interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO2>, <&cru DBCLK_GPIO2>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 64 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio3: gpio@fc600000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc600000 0x200>;
			interrupts = <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO3>, <&cru DBCLK_GPIO3>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 96 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio4: gpio@fc700000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc700000 0x200>;
			interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO4>, <&cru DBCLK_GPIO4>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 128 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio5: gpio@fc800000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc800000 0x200>;
			interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO5>, <&cru DBCLK_GPIO5>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 160 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpio6: gpio@fc900000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xfc900000 0x200>;
			interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 26 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_GPIO6>, <&cru DBCLK_GPIO6>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 192 32>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gpu: gpu@fb000000 {
			compatible = "arm,mali-valhall";
			reg = <0xfb000000 0x200000>;
			interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 149 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 148 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "GPU", "MMU", "JOB";

			clocks = <&cru CLK_GPU_CORE>;
			clock-names = "clk_gpu";

			upthreshold = <30>;
			downdifferential = <10>;

			status = "disabled";
		};

		pwm0_4ch_0: pwm@fca00000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfca00000 0x1000>;
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch0_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>, <&cru CLK_OSC_PWM0>;
			clock-names = "pwm", "pclk", "osc";
			status = "disabled";
		};

		pwm0_4ch_1: pwm@fca10000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfca10000 0x1000>;
			interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch1_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>, <&cru CLK_OSC_PWM0>;
			clock-names = "pwm", "pclk", "osc";
			status = "disabled";
		};

		pwm0_4ch_2: pwm@fca20000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfca20000 0x1000>;
			interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch2_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>, <&cru CLK_OSC_PWM0>;
			clock-names = "pwm", "pclk", "osc";
			status = "disabled";
		};

		pwm0_4ch_3: pwm@fca30000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfca30000 0x1000>;
			interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm0m0_ch3_pins>;
			clocks = <&cru CLK_PWM0>, <&cru PCLK_PWM0>, <&cru CLK_OSC_PWM0>;
			clock-names = "pwm", "pclk", "osc";
			status = "disabled";
		};

		pwm1_4ch_0: pwm@fcb00000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfcb00000 0x1000>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch0_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>;
			clock-names = "pwm", "pclk";
			status = "disabled";
		};

		pwm1_4ch_1: pwm@fcb10000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfcb10000 0x1000>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch1_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>;
			clock-names = "pwm", "pclk";
			status = "disabled";
		};

		pwm1_4ch_2: pwm@fcb20000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfcb20000 0x1000>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch2_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>;
			clock-names = "pwm", "pclk";
			status = "disabled";
		};

		pwm1_4ch_3: pwm@fcb30000 {
			compatible = "rockchip,rk3538-pwm";
			reg = <0xfcb30000 0x1000>;
			interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_HIGH>;
			#pwm-cells = <3>;
			pinctrl-names = "active";
			pinctrl-0 = <&pwm1m0_ch3_pins>;
			clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>;
			clock-names = "pwm", "pclk";
			status = "disabled";
		};

		mailbox0: mailbox@fcc00000 {
			compatible = "rockchip,rk3538-mailbox", "rockchip,rk3576-mailbox";
			reg = <0xfcc00000 0x40>;
			interrupts = <GIC_SPI 100 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox1: mailbox@fcc10000 {
			compatible = "rockchip,rk3538-mailbox", "rockchip,rk3576-mailbox";
			reg = <0xfcc10000 0x40>;
			interrupts = <GIC_SPI 101 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox2: mailbox@fcc20000 {
			compatible = "rockchip,rk3538-mailbox", "rockchip,rk3576-mailbox";
			reg = <0xfcc20000 0x40>;
			interrupts = <GIC_SPI 102 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		mailbox3: mailbox@fcc30000 {
			compatible = "rockchip,rk3538-mailbox", "rockchip,rk3576-mailbox";
			reg = <0xfcc30000 0x40>;
			interrupts = <GIC_SPI 103 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru PCLK_MAILBOX>;
			clock-names = "pclk_mailbox";
			#mbox-cells = <1>;
			status = "disabled";
		};

		cru: clock-controller@fd000000 {
			compatible = "rockchip,rk3538-cru";
			reg = <0xfd000000 0x91000>;
			#clock-cells = <1>;
			#reset-cells = <1>;

			assigned-clocks =
				<&cru PLL_GPLL>,
				<&cru CLK_UART_FRAC_0_SRC>, <&cru CLK_UART_FRAC_1_SRC>,
				<&cru CLK_AUDIO_FRAC_0_SRC>, <&cru CLK_AUDIO_FRAC_1_SRC>,
				<&cru CLK_CM_FRAC_0_SRC>, <&cru CLK_CM_FRAC_1_SRC>,
				<&cru CLK_UART_FRAC_0>, <&cru CLK_UART_FRAC_1>,
				<&cru CLK_AUDIO_FRAC_0>, <&cru CLK_AUDIO_FRAC_1>,
				<&cru CLK_CM_FRAC_0>, <&cru CLK_CM_FRAC_1>,
				<&cru CLK_CPLL_DIV10>, <&cru PMU_100M_CLK>;
			assigned-clock-rates =
				<1188000000>,
				<1188000000>, <1188000000>,
				<1188000000>, <1188000000>,
				<1188000000>, <1188000000>,
				<18432000>, <128000000>,
				<45158400>, <49152000>,
				<96000000>, <25000000>,
				<100000000>, <100000000>;
		};

		vo_grf: syscon@fd170000 {
			compatible = "rockchip,rk3538-vo-grf", "syscon";
			reg = <0xfd170000 0x10000>;
			clocks = <&cru PCLK_VO_ROOT>;
		};

		pmu_grf: syscon@fd180000 {
			compatible = "rockchip,rk3538-pmu-grf", "syscon";
			reg = <0xfd180000 0x10000>;
		};

		ioc_grf: syscon@fd1b0000 {
			compatible = "rockchip,rk3538-ioc-grf", "syscon";
			reg = <0xfd1b0000 0x80000>;
		};

		rga2_core0: rga@fd810000 {
			compatible = "rockchip,rga2";
			reg = <0xfd810000 0x1000>;
			interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "rga2_core0_irq";
			clocks = <&cru ACLK_RGA>, <&cru HCLK_RGA>, <&cru CLK_CORE_RGA>;
			clock-names = "aclk_rga", "hclk_rga", "clk_rga";
			iommus = <&rga2_core0_mmu>;
			status = "disabled";
		};

		rga2_core0_mmu: iommu@fd810f00 {
			compatible = "rockchip,iommu-v2";
			reg = <0xfd810f00 0x100>;
			interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "rga2_0_mmu";
			clocks = <&cru ACLK_RGA>, <&cru HCLK_RGA>;
			clock-names = "aclk", "iface";
			#iommu-cells = <0>;
			status = "disabled";
		};

		rng: rng@fd900000 {
			compatible = "rockchip,rkrng";
			reg = <0xfd900000 0x200>;
			interrupts = <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru HCLK_RKRNG_NS>, <&cru CLK_DRNG_NS>;
			clock-names = "hclk_trng_ns", "clk_drng_ns";
			resets = <&cru SRST_HRESETN_RKRNG_NS>;
			reset-names = "reset";
			status = "disabled";
		};

		crypto: crypto@fd910000 {
			compatible = "rockchip,crypto-ce";
			reg = <0xfd910000 0x2000>;
			interrupts = <GIC_SPI 169 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_NSRKCE>, <&cru HCLK_NS_RKCE>, <&cru CLK_PKA_NSRKCE>;
			clock-names = "aclk", "hclk", "pka";
			resets = <&cru SRST_HRESETN_NS_RKCE>;
			reset-names = "crypto-rst";
			status = "disabled";
		};

		spdif_rx: spdif-rx@fdb20000 {
			compatible = "rockchip,rk3538-spdifrx", "rockchip,rk3308-spdifrx";
			reg = <0xfdb20000 0x1000>;
			interrupts = <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SPDIF_ARC_RX_SRC>, <&cru HCLK_SPDIF_ARC_RX>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 29>;
			dma-names = "rx";
			resets = <&cru SRST_MRESETN_SPDIF_ARC_RX>;
			reset-names = "spdifrx-m";
			#sound-dai-cells = <0>;
			status = "disabled";
		};

		sai3: sai@fdb30000 {
			compatible = "rockchip,rk3538-sai", "rockchip,sai-v1";
			reg = <0xfdb30000 0x1000>;
			interrupts = <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SAI3>, <&cru HCLK_SAI3_HDMI_TX>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 27>;
			dma-names = "tx";
			resets = <&cru SRST_MRESETN_SAI3_HDMI_TX>, <&cru SRST_HRESETN_SAI3_HDMI_TX>;
			reset-names = "m", "h";
			#sound-dai-cells = <0>;
			sound-name-prefix = "SAI3";
			status = "disabled";
		};

		sai2: sai@fdb40000 {
			compatible = "rockchip,rk3538-sai", "rockchip,sai-v1";
			reg = <0xfdb40000 0x1000>;
			interrupts = <GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SAI2>, <&cru HCLK_SAI2>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 21>, <&dmac 20>;
			dma-names = "tx", "rx";
			resets = <&cru SRST_MRESETN_SAI2>, <&cru SRST_HRESETN_SAI2>;
			reset-names = "m", "h";
			pinctrl-names = "default";
			pinctrl-0 = <&sai2m0_lrck_pins
				     &sai2m0_sclk_pins
				     &sai2m0_sdi_pins
				     &sai2m0_sdo_pins>;
			#sound-dai-cells = <0>;
			sound-name-prefix = "SAI2";
			status = "disabled";
		};

		acodec: acodec@fdb90000 {
			compatible = "rockchip,rk3538-codec", "rockchip,rk3528-codec";
			reg = <0xfdb90000 0x1000>;
			#sound-dai-cells = <0>;
			clocks = <&cru PCLK_ACODEC>, <&cru MCLK_ACODEC>;
			clock-names = "pclk", "mclk";
			resets = <&cru SRST_PRESETN_ACODEC>;
			reset-names = "acodec";
			status = "disabled";
		};

		vop: vop@fdbe0000 {
			compatible = "rockchip,rk3538-vop";
			reg = <0xfdbe0000 0x3c00>,
			      <0xfdbe6400 0x800>,
			      <0xfdbe6c00 0x300>;
			reg-names = "regs",
				    "acm_regs",
				    "sharp_regs";
			interrupts = <GIC_SPI 157 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "vop-sys",
					  "vop-vp0";
			clocks = <&cru ACLK_VOP>,
				 <&cru HCLK_VOP>,
				 <&cru DCLK_VP0>,
				 <&cru DCLK_VP0_SRC>;
			clock-names = "aclk_vop",
				      "hclk_vop",
				      "dclk_vp0",
				      "dclk_src_vp0";
			resets = <&cru SRST_DRESETN_VP0>;
			reset-names = "dclk_vp0";
			rockchip,aclk-normal-mode-rates = <500000000>;
			rockchip,aclk-reset-mode-rates = <400000000>;
			rockchip,aclk-advanced-mode-rates = <500000000>;
			iommus = <&vop_mmu>;
			status = "disabled";

			vop_out: ports {
				#address-cells = <1>;
				#size-cells = <0>;

				vp0: port@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;

					vp0_out_hdmi: endpoint@0 {
						reg = <0>;
						//remote-endpoint = <&hdmi_in_vp0>;
					};

					vp0_out_tve: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&tve_in_vp0>;
					};
				};
			};
		};

		vop_mmu: iommu@fdbe7e00 {
			compatible = "rockchip,iommu-v2";
			reg = <0xfdbe7e00 0x100>;
			interrupts = <GIC_SPI 157 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "vop_mmu";
			clocks = <&cru ACLK_VOP>, <&cru HCLK_VOP>;
			clock-names = "aclk", "iface";
			#iommu-cells = <0>;
			rockchip,disable-device-link-resume;
			rockchip,shootdown-entire;
			rockchip,enable-pagefault-fake-mode;
			status = "disabled";
		};

		tve: tve@fdbf0000 {
			compatible = "rockchip,rk3538-tve", "rockchip,rk3528-tve";
			reg = <0xfdbf0000 0x4000>,
			      <0xfdbb0000 0x300>;
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru HCLK_CVBS>,
				 <&cru PCLK_VDACPHY>,
				 <&cru DCLK_CVBS>,
				 <&cru DCLK_4X_CVBS>;
			clock-names = "hclk",
				      "pclk_vdac",
				      "dclk",
				      "dclk_4x";
			rockchip,lumafilter0 = <0x0ff80006>;
			rockchip,lumafilter1 = <0x00090010>;
			rockchip,lumafilter2 = <0x0ffb0fd8>;
			rockchip,lumafilter3 = <0x00080057>;
			rockchip,lumafilter4 = <0x0fef0f64>;
			rockchip,lumafilter5 = <0x0016010a>;
			rockchip,lumafilter6 = <0x0f830df7>;
			rockchip,lumafilter7 = <0x08de055f>;
			rockchip,tve-upsample = <DCLK_UPSAMPLEx4>;
			rockchip,grf = <&vo_grf>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;

					tve_in_vp0: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&vp0_out_tve>;
						status = "disabled";
					};
				};
			};
		};

		uart0: serial@fdc50000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfdc50000 0x100>;
			interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART0>, <&cru PCLK_UART0>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 1>, <&dmac 0>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		sdio: mmc@fdd00000 {
			compatible = "rockchip,rk3538-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xfdd00000 0x10000>;
			interrupts = <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru HCLK_SDIO>, <&cru CCLK_SDIO>;
			clock-names = "biu", "ciu";
			fifo-depth = <0x100>;
			max-frequency = <200000000>;
			resets = <&cru SRST_HRESETN_SDIO>;
			reset-names = "reset";
			status = "disabled";
		};

		sdmmc1: mmc@fdd10000 {
			compatible = "rockchip,rk3538-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xfdd10000 0x10000>;
			interrupts = <GIC_SPI 183 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru HCLK_SDMMC1>, <&cru CCLK_SDMMC1>;
			clock-names = "biu", "ciu";
			fifo-depth = <0x100>;
			max-frequency = <200000000>;
			resets = <&cru SRST_HRESETN_SDMMC1>;
			reset-names = "reset";
			status = "disabled";
		};

		sai0: sai@fdd20000 {
			compatible = "rockchip,rk3538-sai", "rockchip,sai-v1";
			reg = <0xfdd20000 0x1000>;
			interrupts = <GIC_SPI 108 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SAI0>, <&cru HCLK_SAI0>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 17>, <&dmac 16>;
			dma-names = "tx", "rx";
			resets = <&cru SRST_MRESETN_SAI0>, <&cru SRST_HRESETN_SAI0>;
			reset-names = "m", "h";
			pinctrl-names = "default";
			pinctrl-0 = <&sai0m0_lrck_pins
				     &sai0m0_sclk_pins
				     &sai0m0_sdi_pins
				     &sai0m0_sdo_pins>;
			#sound-dai-cells = <0>;
			sound-name-prefix = "SAI0";
			status = "disabled";
		};

		saradc: adc@fdda0000 {
			compatible = "rockchip,rk3538-saradc", "rockchip,rv1126b-saradc";
			reg = <0xfdda0000 0x10000>;
			interrupts = <GIC_SPI 195 IRQ_TYPE_LEVEL_HIGH>;
			#io-channel-cells = <1>;
			clocks = <&cru CLK_SARADC>, <&cru PCLK_SARADC>;
			clock-names = "saradc", "apb_pclk";
			resets = <&cru SRST_PRESETN_SARADC>;
			reset-names = "saradc-apb";
			status = "disabled";
		};

		spi1: spi@fddb0000 {
			compatible = "rockchip,rk3538-spi", "rockchip,rk3066-spi";
			reg = <0xfddb0000 0x1000>;
			interrupts = <GIC_SPI 188 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			clocks = <&cru CLK_SPI1>, <&cru PCLK_SPI1>;
			clock-names = "spiclk", "apb_pclk";
			dmas = <&dmac 24>, <&dmac 25>;
			dma-names = "rx", "tx";
			num-cs = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi1m0_csn0_pins &spi1m0_csn1_pins &spi1m0_pins>;
			status = "disabled";
		};

		sdmmc0: mmc@fde00000 {
			compatible = "rockchip,rk3538-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xfde00000 0x10000>;
			interrupts = <GIC_SPI 182 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru HCLK_SDMMC0>, <&cru CCLK_SDMMC0>;
			clock-names = "biu", "ciu";
			fifo-depth = <0x100>;
			max-frequency = <200000000>;
			resets = <&cru SRST_HRESETN_SDMMC0>;
			reset-names = "reset";
			status = "disabled";
		};

		sdhci: mmc@fde10000 {
			compatible = "rockchip,rk3538-dwcmshc", "rockchip,rk3528-dwcmshc";
			reg = <0xfde10000 0x10000>;
			interrupts = <GIC_SPI 185 IRQ_TYPE_LEVEL_HIGH>;
			assigned-clocks = <&cru BCLK_EMMC>, <&cru CCLK_EMMC>;
			assigned-clock-rates = <200000000>, <200000000>;
			clocks = <&cru CCLK_EMMC>, <&cru HCLK_EMMC>,
				 <&cru ACLK_EMMC>, <&cru BCLK_EMMC>;
			clock-names = "core", "bus", "axi", "block";
			max-frequency = <200000000>;
			resets = <&cru SRST_CRESETN_EMMC>, <&cru SRST_HRESETN_EMMC>,
				 <&cru SRST_ARESETN_EMMC>, <&cru SRST_BRESETN_EMMC>,
				 <&cru SRST_TRESETN_EMMC>;
			reset-names = "core", "bus", "axi", "block", "timer";
			status = "disabled";
		};

		fspi: spi@fde20000 {
			compatible = "rockchip,rk3538-fspi", "rockchip,fspi";
			reg = <0xfde20000 0x4000>;
			interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_2X_FSPI>, <&cru HCLK_FSPI>;
			clock-names = "clk_sfc", "hclk_sfc";
			rockchip,grf = <&pmu_grf>;
			rockchip,max-dll = <0x17F>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		hwlock: hwspinlock@fdf00000 {
			compatible = "rockchip,hwspinlock";
			reg = <0xfdf00000 0x100>;
			#hwlock-cells = <1>;
			status = "disabled";
		};

		gic: interrupt-controller@fdf10000 {
			compatible = "arm,gic-400";
			#interrupt-cells = <3>;
			interrupt-controller;

			reg = <0xfdf11000 0x1000>,
			      <0xfdf12000 0x2000>,
			      <0xfdf14000 0x2000>,
			      <0xfdf16000 0x2000>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
		};

		sai1: sai@fdf30000 {
			compatible = "rockchip,rk3538-sai", "rockchip,sai-v1";
			reg = <0xfdf30000 0x1000>;
			interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SAI1>, <&cru HCLK_SAI1>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 19>, <&dmac 18>;
			dma-names = "tx", "rx";
			resets = <&cru SRST_MRESETN_SAI1>, <&cru SRST_HRESETN_SAI1>;
			reset-names = "m", "h";
			pinctrl-names = "default";
			pinctrl-0 = <&sai1m0_lrck_pins
				     &sai1m0_sclk_pins
				     &sai1m0_sdi0_pins
				     &sai1m0_sdi1_pins
				     &sai1m0_sdi2_pins
				     &sai1m0_sdi3_pins
				     &sai1m0_sdo0_pins
				     &sai1m0_sdo1_pins
				     &sai1m0_sdo2_pins
				     &sai1m0_sdo3_pins>;
			#sound-dai-cells = <0>;
			sound-name-prefix = "SAI1";
			status = "disabled";
		};

		spdif_tx: spdif-tx@fdf50000 {
			compatible = "rockchip,rk3538-spdif";
			reg = <0xfdf50000 0x1000>;
			interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_SPDIF_TX>, <&cru HCLK_SPDIF_TX>;
			clock-names = "mclk", "hclk";
			dmas = <&dmac 30>;
			dma-names = "tx";
			pinctrl-names = "default";
			pinctrl-0 = <&spdifm0_pins>;
			#sound-dai-cells = <0>;
			status = "disabled";
		};

		pdm: pdm@fdf70000 {
			compatible = "rockchip,rk3538-pdm", "rockchip,rk3576-pdm";
			reg = <0xfdf70000 0x1000>;
			interrupts = <GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru MCLK_PDM>, <&cru HCLK_PDM>, <&cru CLKOUT_PDM>;
			clock-names = "pdm_clk", "pdm_hclk", "pdm_clk_out";
			dmas = <&dmac 31>;
			dma-names = "rx";
			rockchip,pdm-data-shift = <5 5 5 5 5 5 5 5>;
			pinctrl-names = "default", "idle", "clk";
			pinctrl-0 = <&pdmm0_sdi0_pins
				     &pdmm0_sdi1_pins
				     &pdmm0_sdi2_pins
				     &pdmm0_sdi3_pins>;
			pinctrl-1 = <&pdmm0_clk0_idle
				     &pdmm0_clk1_idle>;
			pinctrl-2 = <&pdmm0_clk0_pins
				     &pdmm0_clk1_pins>;
			#sound-dai-cells = <0>;
			sound-name-prefix = "PDM0";
			status = "disabled";
		};

		dmac: dma-controller@fdfd0000 {
			compatible = "rockchip,rk3538-dma", "rockchip,dma";
			reg = <0xfdfd0000 0x2000>;
			interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru ACLK_RKDMA>, <&cru PCLK_RKDMA>;
			clock-names = "aclk", "pclk";
			#dma-cells = <1>;
		};

		spi0: spi@fdfe0000 {
			compatible = "rockchip,rk3538-spi", "rockchip,rk3066-spi";
			reg = <0xfdfe0000 0x1000>;
			interrupts = <GIC_SPI 187 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			clocks = <&cru CLK_SPI0>, <&cru PCLK_SPI0>;
			clock-names = "spiclk", "apb_pclk";
			dmas = <&dmac 22>, <&dmac 23>;
			dma-names = "rx", "tx";
			num-cs = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi0m0_csn0_pins &spi0m0_csn1_pins &spi0m0_pins>;
			status = "disabled";
		};

		uart1: serial@fe050000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfe050000 0x100>;
			interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART1>, <&cru PCLK_UART1>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 3>, <&dmac 2>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart1m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart2: serial@fe060000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfe060000 0x100>;
			interrupts = <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART2>, <&cru PCLK_UART2>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 5>, <&dmac 4>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart2m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart3: serial@fe070000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfe070000 0x100>;
			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART3>, <&cru PCLK_UART3>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 7>, <&dmac 6>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart3m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart4: serial@fe080000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfe080000 0x100>;
			interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART4>, <&cru PCLK_UART4>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 9>, <&dmac 8>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart4m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart5: serial@fe090000 {
			compatible = "rockchip,rk3538-uart", "snps,dw-apb-uart";
			reg = <0xfe090000 0x100>;
			interrupts = <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cru SCLK_UART5>, <&cru PCLK_UART5>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 11>, <&dmac 10>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart5m0_xfer_pins>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		wdt: watchdog@fe0b0000 {
			compatible = "snps,dw-wdt";
			reg = <0xfe0b0000 0x100>;
			clocks = <&cru TCLK_WDT>, <&cru PCLK_WDT>;
			clock-names = "tclk", "pclk";
			interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
		};
	};
};

#include "rk3538-pinctrl.dtsi"
