// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_out0>;
				data-lanes = <1 2 3 4>;
			};

			mipi_in_ucam1: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&imx464_out0>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam2: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&imx464_out1>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam3: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&sc4336_out>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam4: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&os04a10_out>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam5: endpoint@6 {
				reg = <6>;
				remote-endpoint = <&sc850sl_out>;
				data-lanes = <1 2 3 4>;
			};

			mipi_in_ucam6: endpoint@7 {
				reg = <7>;
				remote-endpoint = <&ov50c40_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	pinctrl-0 = <&i2c4m3_xfer_pins>;

	aw8601: aw8601@c {
		compatible = "awinic,aw8601";
		status = "okay";
		reg = <0x0c>;
		rockchip,vcm-start-current = <56>;
		rockchip,vcm-rated-current = <96>;
		rockchip,vcm-step-mode = <4>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
	};

	imx415: imx415@1a {
		compatible = "sony,imx415";
		reg = <0x1a>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		power-domains = <&power RK3572_PD_VI>;
		/* reset need connect to dovdd */
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		port {
			imx415_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	imx464_0: imx464-0@1a {
		compatible = "sony,imx464";
		status = "okay";
		reg = <0x1a>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		/* reset need connect to dovdd */
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT1980-PX1";
		rockchip,camera-module-lens-name = "SHG102";
		port {
			imx464_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};

	sc4336: sc4336@30 {
		compatible = "smartsens,sc4336";
		status = "okay";
		reg = <0x30>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		pinctrl-names = "default";
		/* reset need connect to dovdd */
		pwdn-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "OT01";
		rockchip,camera-module-lens-name = "40IRC_F16";
		port {
			sc4336_out: endpoint {
				remote-endpoint = <&mipi_in_ucam3>;
				data-lanes = <1 2>;
			};
		};
	};

	sc850sl: sc850sl@30 {
		compatible = "smartsens,sc850sl";
		status = "okay";
		reg = <0x30>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		pinctrl-names = "default";
		/* reset need connect to dovdd */
		pwdn-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		port {
			sc850sl_out: endpoint {
				remote-endpoint = <&mipi_in_ucam5>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	imx464_1: imx464-1@36 {
		compatible = "sony,imx464";
		status = "okay";
		reg = <0x36>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		pinctrl-names = "default";
		/* reset need connect to dovdd */
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT1980-PX1";
		rockchip,camera-module-lens-name = "SHG102";
		port {
			imx464_out1: endpoint {
				remote-endpoint = <&mipi_in_ucam2>;
				data-lanes = <1 2>;
			};
		};
	};

	os04a10: os04a10@36 {
		compatible = "ovti,os04a10";
		status = "okay";
		reg = <0x36>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		pinctrl-names = "default";
		/* reset need connect to dovdd */
		pwdn-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT1607-FV1";
		rockchip,camera-module-lens-name = "M12-40IRC-4MP-F16";
		port {
			os04a10_out: endpoint {
				remote-endpoint = <&mipi_in_ucam4>;
				data-lanes = <1 2>;
			};
		};
	};

	ov50c40: ov50c40@36 {
		compatible = "ovti,ov50c40";
		status = "okay";
		reg = <0x36>;
		clocks = <&cru CAM_CLK0_OUT_IOUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3572_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk0m0_clk0_pins>;
		pwdn-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
		avdd-supply = <&vcc_mipicsi0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HZGA06";
		rockchip,camera-module-lens-name = "ZE0082C1";
		eeprom-ctrl = <&otp_eeprom>;
		lens-focus = <&aw8601>;
		port {
			ov50c40_out: endpoint {
				remote-endpoint = <&mipi_in_ucam6>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	otp_eeprom: otp_eeprom@50 {
		compatible = "rk,otp_eeprom";
		status = "okay";
		reg = <0x50>;
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};
