// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

/ {
	rk628f_dc: rk628f-dc {
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
	};

	rkvtunnel: rkvtunnel {
		compatible = "rockchip,video-tunnel";
		status = "okay";
	};

	hdmiin-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,hdmiin";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		status = "okay";
		simple-audio-card,cpu {
			sound-dai = <&sai0>;
		};
		dailink0_master: simple-audio-card,codec {
			sound-dai = <&rk628f_dc>;
		};
	};
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi_mipi_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&hdmiin_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m1_pins>;
	clock-frequency = <400000>;

	rk628_csi: rk628_csi@50 {
		reg = <0x50>;
		compatible = "rockchip,rk628-csi-v4l2";
		status = "okay";
		// power-domains = <&power RK1126B_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_hdmiin_pin>;
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PA2 IRQ_TYPE_LEVEL_HIGH>; //interrupt link to MIPI_RX0_PDN0
		enable-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>; //power link to MIPI_MCLK_OUT1
		reset-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_LOW>; //reset link to MIPI_RX0_RST0
		plugin-det-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_LOW>; //DET link to MIPI_RX0_PDN1
		continues-clk = <1>;
		cec-enable;
		#sound-dai-cells = <0>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HDMI-MIPI";
		rockchip,camera-module-lens-name = "RK628-CSI";

		port {
			hdmiin_out: endpoint {
				remote-endpoint = <&hdmi_mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&pinctrl {
	hdmiin {
		rk628_hdmiin_pin: rk628_hdmiin-pin {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>, /*MIPI_RX_PDN0*/
					<4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>, /*MIPI_MCLK_OUT1*/
					<4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>, /*MIPI_RX_RST0*/
					<4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;	 /*MIPI_RX_PDN1*/
		};
	};
};
