/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	metadata {
		title ="Enable Radxa Display 8HD";
		compatible = "radxa,rock-5a", "radxa,rock-5c";
		category = "display";
		exclusive = "dsi0";
		description = "Enable Radxa Display 8HD.";
	};
};

&{/} {
	vcc_tp: vcc-tp {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "vcc_tp";
		gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_LOW>;
		enable-active-low;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_lcd_mipi0: vcc-lcd-mipi0 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd_mipi0";
		gpio = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	dsi0_backlight: dsi0-backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm10 0 25000 PWM_POLARITY_INVERTED>;
		brightness-levels = <
			0  20  20  21  21  22  22  23
			23  24  24  25  25  26  26  27
			27  28  28  29  29  30  30  31
			31  32  32  33  33  34  34  35
			35  36  36  37  37  38  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
		enable-gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi0_backlight_en>;
	};
};

&pwm10 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm10m2_pins>;
};

&dsi0 {
	status = "okay";
	rockchip,lane-rate = <480>;
	#address-cells = <1>;
	#size-cells = <0>;

	dsi0_panel: panel@0 {
		status = "okay";
		compatible ="radxa,display-8hd";
		reg = <0>;
		backlight = <&dsi0_backlight>;

		vdd-supply = <&vcc_lcd_mipi0>;
		vccio-supply = <&vcc_1v8_s0>;
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi0_lcd_rst_gpio>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi0: endpoint {
					remote-endpoint = <&dsi0_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi0_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi0>;
			};
		};
	};
};

&mipi_dcphy0 {
	status = "okay";
};

&route_dsi0 {
	status = "okay";
	connect = <&vp3_out_dsi0>;
};

&dsi0_in_vp2 {
	status = "disabled";
};

&dsi0_in_vp3 {
	status = "okay";
};

&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m2_xfer>;
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;

	gt9xx: gt9xx@14 {
		status = "okay";
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&gt9xx_gpio>;
		touch-gpio = <&gpio3 RK_PC6 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		max-x = <800>;
		max-y = <1280>;
		tp-size = <9112>;
		tp-supply = <&vcc_tp>;
	};
};

&pinctrl {
	dsi0-lcd {
		dsi0_lcd_rst_gpio: dsi0-lcd-rst-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		dsi0_backlight_en: dsi0-backlight-en {
			rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gt9xx {
		gt9xx_gpio: gt9xx-gpio {
			rockchip,pins =
				<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>,
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
