/dts-v1/;
/plugin/;

/ {

	metadata {
		title = "Enable SATA0";
		compatible = "radxa,rock-5a";
		category = "misc";
		exclusive = "combphy0_ps";
		description = "Enable SATA0.\nWhen SATA0 is enabled, PCIe cannot be enabled on the same port.";
	};

	fragment@0 {
		target = <&pcie2x1l2>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&sata0>;

		__overlay__ {
			status = "okay";
		};
	};
};
