/dts-v1/;
/plugin/;

/ {
	metadata {
		title ="Enable Raspberry Pi 7-inch Touchscreen on ROCK 4 A/B/SE";
		compatible = "rockchip,rk3399";
		category = "display";
		description = "Enable Raspberry Pi 7-inch Touchscreen on ROCK 4 A/B/SE";
	};

	fragment@0 {
		target = <&dsi>;

		__overlay__ {
			dsi1-only;
			status = "okay";
		};
	};

	fragment@1 {
		target = <&dsi1>;

		__overlay__ {
			rockchip,dsi-dsi0 = <&dsi>;
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			rockchip,lane-rate = <696>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					dsi_out_panel: endpoint {
						remote-endpoint = <&panel_in_dsi>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c1>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			raspits_panel: raspits-panel@45 {
				compatible = "raspberrypi,7inch-touchscreen-panel";
				reg = <0x45>;

				port {
					panel_in_dsi: endpoint {
						remote-endpoint = <&dsi_out_panel>;
					};
				};
			};

			raspits_touch_ft5426: raspits-touch-ft5426@38 {
				compatible = "raspits_ft5426";
				reg = <0x38>;
			};
		};
	};

	fragment@3 {
		target = <&vopl_out_dsi1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&dsi1_in_vopb>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target = <&dsi1_in_vopl>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&route_dsi>;

		__overlay__ {
			status = "disabled";
			connect = <&vopl_out_dsi>;
		};
	};
};
