// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506.dtsi"

#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/phy/jlsemi-dt-phy.h>

/ {
	model = "EBYTE RK3506G(QFN128) V10 Board";
	compatible = "ebyte,rk3506g-v10", "rockchip,rk3506";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyFIQ0 snd_aloop.index=7 snd_aloop.use_raw_jiffies=1 storagemedia=mtd ubi.mtd=5 ubi.block=0,rootfs root=/dev/ubiblock0_0 rootfstype=squashfs rootwait androidboot.storagemedia=mtd androidboot.mode=normal";
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;	/* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
	};

	typec_5v: vcc12v-dc {
		compatible = "regulator-fixed";
		regulator-name = "typec_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&typec_5v>;
	};

	vcc3v3_stb: vcc3v3-stb {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_stb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_stb>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0_4ch_0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <710000>;
		regulator-max-microvolt = <1207000>;
		regulator-init-microvolt = <1011000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc_sys>;
	};

    leds {
        compatible = "gpio-leds";
        status = "okay";

        heartbeat {
            label = "run";
            gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;
            linux,default-trigger = "heartbeat";
            default-state = "on";
        };
    };

	// adc_keys: adc-keys {
	// 	compatible = "adc-keys";
	// 	io-channels = <&saradc 1>;
	// 	io-channel-names = "buttons";
	// 	keyup-threshold-microvolt = <1800000>;
	// 	poll-interval = <100>;
	// 	menu-key {
	// 		label = "menu";
	// 		linux,code = <KEY_MENU>;
	// 		press-threshold-microvolt = <800000>;
	// 	};
	// };

	acodec_sound: acodec-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,name = "rockchip,acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <1024>;
		simple-audio-card,bitclock-master = <&codec_master>;
		simple-audio-card,frame-master = <&codec_master>;
		simple-audio-card,cpu {
			sound-dai = <&sai4>;
		};
		codec_master: simple-audio-card,codec {
			sound-dai = <&audio_codec>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0_4ch_1 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
		power-supply = <&vcc3v3_stb>;
		status = "disabled";
	};
};

&tsadc {
	status = "okay";
};

&cma {
	size = <0x400000>;
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&fspi {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&sai4 {
	status = "disabled";
};

&audio_codec {
	status = "disabled";
};

&mmc {
	status = "okay";
	bus-width = <4>;

	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins
				&sdmmc_bus4_pins &sdmmc_cd_pins>;
	cd-gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;

    no-mmc;
	no-sdio;
    disable-wp;
	cap-sd-highspeed;
	keep-power-in-suspend;
    vmmc-supply = <&vcc3v3_stb>;
	// sd-uhs-sdr104;
    // vqmmc-supply = <&vccio_sd>;
};

&pwm0_4ch_0 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io21_pwm0_ch0>;
	status = "okay";
};

&pwm0_4ch_1 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io6_pwm0_ch1>;
	status = "okay";
};

&pwm0_4ch_2 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io2_pwm0_ch2>;
	status = "okay";
};

&rga2 {
	status = "disabled";
};

&rng {
	status = "okay";
};

&rockchip_suspend {
	rockchip,sleep-mode-config = <
		(0
		| RKPM_ARMOFF_DDRPD
		| RKPM_24M_OSC_DIS
		| RKPM_32K_CLK
		| RKPM_32K_SRC_RC
		| RKPM_PWM0_CH0_REGULATOR
		)
	>;

	rockchip,apios-suspend = <
		(0
		| RKPM_PWREN_CORE_GPIO0A2 | RKPM_PWREN_CORE_ACT_LOW
		| RKPM_PWREN_SLEEP_GPIO0A0 | RKPM_PWREN_SLEEP_ACT_LOW
		)
	>;

#define GPIO0_IOC_GPIO0A_PULL_REG	0xff950200
#define GPIO0_IOC_GPIO0B_PULL_REG	0xff950204
#define GPIO0_IOC_GPIO0C_PULL_REG	0xff950208
#define GPIO0A3_PULL_DOWN		0x00c00080
#define GPIO0B0_PULL_DOWN		0x00030002
#define GPIO0C5_PULL_DOWN		0x0c000800

	/* Note: support max 16 pairs */
	rockchip,sleep-io-config = <
		GPIO0_IOC_GPIO0C_PULL_REG GPIO0C5_PULL_DOWN /* PWM0_CH0_CPU */
		GPIO0_IOC_GPIO0A_PULL_REG GPIO0A3_PULL_DOWN /* PWM0_CH2_LCD_BL */
		GPIO0_IOC_GPIO0B_PULL_REG GPIO0B0_PULL_DOWN /* SAI1_MCLK */
	>;
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&u2phy_otg0 {
	status = "okay";
};

&u2phy_otg1 {
	status = "okay";
};

&usb2phy {
	// extcon = <&extcon_usb>;
	status = "okay";
};

&usb20_otg0 {
	dr_mode = "host";
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&gmac0 {
	phy-mode = "rmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio1 RK_PC7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim_pins &eth_rmii0_tx_bus2_pins
				&eth_rmii0_rx_bus2_pins &eth_rmii0_clk_pins>;

	phy-handle = <&phy0>;
	status = "okay";
};

&mdio0 {
	phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		jl1xxx,led-enable = <(JL1XXX_LED_STATIC_OP_EN | JL1XXX_LED_MODE_EN)>;
		jl1xxx,led-mode = <(JL1XXX_LED0_100_LINK | JL1XXX_LED0_10_LINK | \
				JL1XXX_LED1_100_ACTIVITY | JL1XXX_LED1_10_ACTIVITY)>;
	};
};

&gmac1 {
	phy-mode = "rmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio1 RK_PC5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins &eth_rmii1_tx_bus2_pins
				&eth_rmii1_rx_bus2_pins &eth_rmii1_clk_pins>;

	phy-handle = <&phy1>;
	status = "okay";
};

&mdio1 {
	phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x2>;
		jl1xxx,led-enable = <(JL1XXX_LED_STATIC_OP_EN | JL1XXX_LED_MODE_EN)>;
		jl1xxx,led-mode = <(JL1XXX_LED0_100_LINK | JL1XXX_LED0_10_LINK | \
				JL1XXX_LED1_100_ACTIVITY | JL1XXX_LED1_10_ACTIVITY)>;
	};
};

&display_subsystem {
	logo-memory-region = <&drm_logo>;
	status = "disabled";
};

&route_dsi {
	status = "disabled";
};

&vop {
	status = "disabled";
};

&dsi_in {
	status = "disabled";
};

&dsi_in_vop {
	status = "disabled";
};

&dsi_dphy {
	status = "disabled";
};

&dsi {
	status = "disabled";
	// rockchip,lane-rate = <850>;
    dsi_panel: panel@0 {
        status = "disabled";
        compatible = "simple-panel-dsi";
        reg = <0>;
        backlight = <&backlight>;

        pinctrl-names = "default";
        pinctrl-0 = <&lcd_rst_gpio>;
        reset-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;

        enable-delay-ms = <35>;
        prepare-delay-ms = <6>;
        reset-delay-ms = <0>;
        init-delay-ms = <20>;
        unprepare-delay-ms = <0>;
        disable-delay-ms = <20>;

        dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET)>;
        dsi,format = <MIPI_DSI_FMT_RGB888>;
        dsi,lanes  = <2>;

        panel-init-sequence = [
            39 00 04 B9 FF 83 94
            15 00 02 36 01
            39 00 07 BA 61 03 68 6B B2 C0
            39 00 0B B1 48 12 72 09 32 54 71 71 57 47
            39 00 07 B2 00 80 64 0C 0D 2F
            39 00 16 B4 73 74 73 74 73 74 01 0C 86 75 00 3F 73 74 73 74 73 74 01 0C 86
            39 00 03 B6 6E 6E
            39 00 22 D3 00 00 07 07 40 07 0C 00 08 10 08 00 08 54 15 0A 05 0A 02 15 06 05 06 47 44 0A 0A 4B 10 07 07 0C 40
            39 00 2D D5 1C 1C 1D 1D 00 01 02 03 04 05 06 07 08 09 0A 0B 24 25 18 18 26 27 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 20 21 18 18 18 18
            39 00 2D D6 1C 1C 1D 1D 07 06 05 04 03 02 01 00 0B 0A 09 08 21 20 18 18 27 26 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 25 24 18 18 18 18
            39 00 3B E0 00 0A 15 1B 1E 21 24 22 47 56 65 66 6E 82 88 8B 9A 9D 98 A8 B9 5D 5C 61 66 6A 6F 7F 7F 00 0A 15 1B 1E 21 24 22 47 56 65 65 6E 81 87 8B 98 9D 99 A8 BA 5D 5D 62 67 6B 72 7F 7F
            39 00 03 C0 1F 31
            15 00 02 CC 03
            15 00 02 D4 02
            15 00 02 BD 02
            39 00 0D D8 FF FF FF FF FF FF FF FF FF FF FF FF
            15 00 02 BD 00
            15 00 02 BD 01
            15 00 02 B1 00
            15 00 02 BD 00
            39 00 08 BF 40 81 50 00 1A FC 01
            15 00 02 C6 ED
            05 64 01 11
            05 78 01 29
        ];

        panel-exit-sequence = [
            05 78 01 28
            05 05 01 10
        ];

        disp_timings0: display-timings {
            native-mode = <&dsi_timing0>;
            dsi_timing0: timing0 {
                 clock-frequency = <59603040>;
                 hactive = <720>;
                 hsync-len = <6>;
                 hback-porch = <20>;
                 hfront-porch = <10>;

                 vactive = <1280>;
                 vsync-len = <4>;
                 vback-porch = <20>;
                 vfront-porch = <10>;

                 de-active = <0>;
                 vsync-active = <0>;
                 hsync-active = <0>;
                 pixelclk-active = <0>;
             };
        };

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io19_i2c2_scl &rm_io20_i2c2_sda>;
	status = "okay";

	gt911: gt911@5d {
		pinctrl-names = "default";
		pinctrl-0 = <&gt911_gpio>;
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&gpio1>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		// touchscreen-inverted-x;
		// touchscreen-inverted-y;
		status = "disabled";
	};
};

&pinctrl {
	tfcard {
		sdmmc_cd_pins: tf-cd-gpio {
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	lcd {
		lcd_rst_gpio: lcd-reset-gpio {
			rockchip,pins = <1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	touch {
		gt911_gpio: touch-gpio {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
    };
};
